.cptovst_xtdd1n{background-color: #FFFFFF!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{color: #009900!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{text-align: center!important;}


.cptovst_2k5t6d{background-color: #CCFFFF!important;}
.cptovst_2k5t6d *,.cptovst_2k5t6d{text-align: left!important;}


.cptovst_ifgsci *,.cptovst_ifgsci{text-align: left!important;}


.cptovst_i8o246{background-color: #CC9900!important;}
.cptovst_i8o246 *,.cptovst_i8o246{text-align: left!important;}


.cptovst_wpe3jv{background-color: #FFFF99!important;}
.cptovst_wpe3jv *,.cptovst_wpe3jv{text-align: left!important;}


.cptovst_v5norh *,.cptovst_v5norh{text-align: left!important;}






.cptovst_u1wwfu *,.cptovst_u1wwfu{color: #669999!important;}
.cptovst_u1wwfu *,.cptovst_u1wwfu{text-align: left!important;}


.cptovst_yp917w *,.cptovst_yp917w{text-align: left!important;}


.cptovst_w8j9c0 *,.cptovst_w8j9c0{text-align: left!important;}








.cptovst_30c07g{background-color: #000000!important;}
.cptovst_30c07g{border-color: #000000!important; border-style:solid;}
.cptovst_30c07g *,.cptovst_30c07g{color: #FFFFFF!important;}
.cptovst_30c07g *,.cptovst_30c07g{text-align: left!important;}


.cptovst_6e8cpm *,.cptovst_6e8cpm{text-align: left!important;}






.cptovst_bdek5s *,.cptovst_bdek5s{text-align: left!important;}




.cptovst_hydef7 *,.cptovst_hydef7{text-align: left!important;}




.cptovst_1xug9k *,.cptovst_1xug9k{text-align: left!important;}






.cptovst_swcm32{background-color: #000000!important;}
.cptovst_swcm32 *,.cptovst_swcm32{text-align: left!important;}


.cptovst_bl52ld{background-color: #000000!important;}
.cptovst_bl52ld *,.cptovst_bl52ld{text-align: left!important;}


