{* category view *}
<script type="text/javascript" src="{$smarty.const.URL_JS}/category.js"></script>

<table cellpadding=3 width="95%" align="center">
<tr>
{if $selected_category.picture}
	<td width="1%"><img src="{$smarty.const.URL_PRODUCTS_PICTURES}/{$selected_category.picture|escape:'url'}" alt="{$selected_category.name|escape:'html'}" title="{$selected_category.name|escape:'html'}" /></td>
{/if}
	<td>
		{section name=i loop=$product_category_path}
			{if $product_category_path[i].categoryID != 1}
				<a href='{"?categoryID=`$product_category_path[i].categoryID`&category_slug=`$product_category_path[i].slug`"|set_query_html}'>{$product_category_path[i].name|escape:'html'}</a> {if !$smarty.section.i.last} {$BREADCRUMB_DELIMITER}{/if}
			{/if}
		{/section}
	</td>
</tr>
<tr>
	<td colspan="2">
{*
@features "Search products by params"
*}
		{if $allow_products_search}
		{include file="advanced_search_in_category.tpl.html"}
		{/if}
{*
@features
*}
		<div id="cat_info_left_block" class="hide-text">
		{* description *}
		{$selected_category.description}
		<br />
		<br />
		{* show subcategories *}
		{section name=i loop=$subcategories_to_be_shown}
		 {if $subcategories_to_be_shown[i][3]}
			{assign var=_sub_category_url value="?categoryID=`$subcategories_to_be_shown[i][0]`&category_slug=`$subcategories_to_be_shown[i][3]`"|set_query_html}
		{else}
		{assign var=_sub_category_url value="?categoryID=`$subcategories_to_be_shown[i][0]`"|set_query_html}
		{/if}
		 <a href="{$_sub_category_url}">{$subcategories_to_be_shown[i][1]}</a>
		 ({$subcategories_to_be_shown[i][2]})<br />
		{/section}
		</div>
	</td>
</tr>
</table>

<div class="text-center">
{if $products_to_show}

	{*<p>{include file="comparison_products_button.html"}</p>*}
	{*{if $string_product_sort}<p id="cat_product_sort">{$string_product_sort}</p>{/if}*}



	<div class="wrapper-control">
		<div class="wrapper-paging">
			{if $catalog_navigator}
			<p class="paging">{$catalog_navigator}</p>
			{/if}
		</div>

		<div class="wrapper-views text-left">
			<span>Вид:</span>
			<a href="#" data-view="first" {if $smarty.cookies.view == 'first' || !$smarty.cookies.view}class="active"{/if}><i class="fa fa-th-list"></i></a> |
			<a href="#" data-view="second"{if $smarty.cookies.view == 'second'}class="active"{/if}><i class="fa fa-th"></i></a> |
			<a href="#" data-view="third" {if $smarty.cookies.view == 'third'}class="active"{/if}><i class="fa fa-align-justify"></i></a>
		</div>
	</div>
	<div class="wrapper-products {$smarty.cookies.view}">
		<ul class="clearfix">
			{section name=i1 loop=$products_to_show}
			<li>
				{include file="product_brief.html" product_info=$products_to_show[i1]}
			</li>
			{/section}
		</ul>
	</div>

	{if $catalog_navigator}
		<p class="paging">{$catalog_navigator}</p>
	{/if}

	{*<p>{include file="comparison_products_button.html"}</p>*}

{else}
<p>
	{if $search_with_change_category_ability}
		&lt; {"srch_no_matches_found"|translate} &gt;
	{/if}
</p>
{/if}
</div>