{* category view *}

<table cellpadding=3 border=0>
<tr>
	{if $selected_category.picture}
		<td rowspan=2 valign=top>
			<img src="{$smarty.const.URL_PRODUCTS_PICTURES}/{$selected_category.picture|escape:'url'}"
				alt="{$selected_category.name}">
		</td>
	{/if}
	<td>
		<font class=cat>
			<b>
				{section name=i loop=$product_category_path}
					{if $product_category_path[i].categoryID != 1}
						<a class="cat" href="index.php?categoryID={$product_category_path[i].categoryID}">{$product_category_path[i].name}</a> :
					{/if}
				{/section}
			</b>
		</font>
	</td>
</tr>
<tr>
	<td>
		{* description *}
		{$selected_category.description}
		<p>
		{* show subcategories *}
		{section name=i loop=$subcategories_to_be_shown}
		 <a class=standard href="index.php?categoryID={$subcategories_to_be_shown[i][0]}">{$subcategories_to_be_shown[i][1]}</a>
		 ({$subcategories_to_be_shown[i][2]})<br>
		{/section}
		</p>
	</td>
</tr>

{if $allow_products_search}
	<tr>
		<td>
			{include file="advanced_search_in_category.tpl.html"}
		</td>
	</tr>
{/if}

</table>

{if $products_to_show}

	{*<p>{include file="comparison_products_button.html"}</p>*}
	{*{if $string_product_sort}<p id="cat_product_sort">{$string_product_sort}</p>{/if}*}

<div class="wrapper-control">
	<div class="wrapper-paging">
		{if $catalog_navigator}
		<p class="paging">{$catalog_navigator}</p>
		{/if}
	</div>

	<div class="wrapper-views text-left">
		<span>Вид:</span>
		<a href="#" data-view="first" {if $smarty.cookies.view == 'first' || !$smarty.cookies.view}class="active"{/if}><i class="fa fa-th-list"></i></a> |
		<a href="#" data-view="second"{if $smarty.cookies.view == 'second'}class="active"{/if}><i class="fa fa-th"></i></a> |
		<a href="#" data-view="third" {if $smarty.cookies.view == 'third'}class="active"{/if}><i class="fa fa-align-justify"></i></a>
	</div>
</div>
	<div class="wrapper-products {$smarty.cookies.view}">
		<ul class="clearfix">
			{section name=i1 loop=$products_to_show}
			<li>
				{include file="product_brief.html" product_info=$products_to_show[i1]}
			</li>
			{/section}
		</ul>
	</div>

	{if $catalog_navigator}
		<p class="paging">{$catalog_navigator}</p>
	{/if}

	{*<p>{include file="comparison_products_button.html"}</p>*}
{else}
	<p>
		{if $search_with_change_category_ability}
			&lt; {"srch_no_matches_found"|translate} &gt;
		{/if}
	</p>
{/if}