<div class="dfgt">
{foreach from=$steps_chain item=_chain_link name=_frchain}
{if $_chain_link.url}<a href="{$_chain_link.url|escape:'html'}">{$_chain_link.title|transcape}</a>{else}{$_chain_link.title|transcape}{/if}
{if !$smarty.foreach._frchain.last}
 > 
{/if}
{/foreach}
</div>