{if $is_partner}
	<div class="wrapper_choose_partner">
		<form action="{''|set_query_html}" method="post">
			<div class="marg-bottom">
				<label>Наличие на Филях <input type="radio" name="product_type" value="2" class="priceList_type" {if $pt == 2}checked="checked"{/if}></label>
				<label>Общее наличие <input type="radio" name="product_type" value="1" {if $pt == 1 || !$pt}checked="checked"{/if} class="priceList_type"></label>
			</div>
			<div class="text-center">
				<input type="hidden" name="action" value="choose_products">
				<input type="submit" class="btn orange" value="Выбрать">
			</div>
		</form>
	</div>
{/if}