{if !$CPT_CONSTRUCTOR_MODE}
	{if  $PAGE_VIEW ne 'mobile' && $product_info.picture}
	
		<div>
		
		<a name="anch_current_picture"></a>
		<div>
		{if !$printable_version&&$product_info.big_picture&&($product_info.picture_width>$smarty.const.CONF_PRDPICT_STANDARD_SIZE ||$product_info.picture_height>$smarty.const.CONF_PRDPICT_STANDARD_SIZE) }
			<a target="_blank" onclick="return hs.expand(this)" class="highslide" href='{$smarty.const.URL_PRODUCTS_PICTURES}/{if $product_info.big_picture}{$product_info.big_picture|escape:'url'}{else}{$product_info.picture|escape:'url'}{/if}' img_width="{$product_info.picture_width}" img_height="{$product_info.picture_height}">
        <img id='img-current_picture' class="product-image" border='0' src="{$smarty.const.URL_PRODUCTS_PICTURES}/{$product_info.picture|escape:'url'}" title="{$page_title|escape:'html'}" alt="{$page_title|escape:'html'}" />

			</a>
			<div class="highslide-caption">
				<div class="block-highslide-caption">
					{if $product_info.ordering_available && $product_info.Price>0 && ( $smarty.const.CONF_SHOW_ADD2CART eq 1 ) && ( $smarty.const.CONF_CHECKSTOCK==0 || $product_info.in_stock > 0 ) }
						<form rel="{$product_info.productID}" action='{""|set_query_html}' method="post" class="product-form">
							<input name="productID" value="{$product_info.productID}" type="hidden" />
							<input class="product_price" value="{$product_info.price_incurr|escape:'html'}" type="hidden" />
							<input class="product_list_price" value="{$product_info.list_price_incurr|escape:'html'}" type="hidden" />

							<div class="block-before-buy {if $product_info.in_cart}hide-important{/if}">
								<div class="prdbrief_add2cart ">
									<a href="#" class="btn small add2cart_handler" {if $widget}rel="widget"{/if}><i class="fa fa-shopping-cart"></i> Добавить в корзину</a>
								</div>
							  {cpt_qorder}
							</div>
							<div class="block-after-buy {if $product_info.in_cart} show-price{/if}" {if $product_info.in_cart}style="display: block;"{/if}>
								<div class="prdbrief_add2cart">
									<a href="/cart" class="btn small orange light large">Перейти в корзину<i class="fa fa-sign-out"></i></a>
								</div>
							</div>
						</form>
					{elseif $smarty.const.CONF_SHOW_ADD2CART eq 1 && $smarty.const.CONF_CHECKSTOCK && !$product_info.in_stock && $product_info.ordering_available}
						<div class="prd_out_of_stock">{lbl_prd_out_of_stock}</div>
					{/if}
				</div>

			</div>
		{else}
			<img id='img-current_picture' class="product-image" border='0' src="{$smarty.const.URL_PRODUCTS_PICTURES}/{$product_info.picture|escape:'url'}" title="{$page_title|escape:'html'}" alt="{$page_title|escape:'html'}" />
		{/if}
		</div>
		
		{if $all_product_pictures}
			<table cellpadding="0" cellspacing="0" align="center" id="box_product_thumbnails">
			{foreach from=$all_product_pictures item=_picture name=frpict}
				{if $_picture.photoID != $product_info.photoID}
					{counter name=_pict_num assign=_pict_num}
					{if ($_pict_num-1)%2 == 0}<tr>{/if}
					<td align="center">
						{if !$printable_version&&($_picture.width>$smarty.const.CONF_PRDPICT_THUMBNAIL_SIZE ||$_picture.height>$smarty.const.CONF_PRDPICT_THUMBNAIL_SIZE) }
							<a target="_blank" onclick="return hs.expand(this)" class="highslide" href='{$smarty.const.URL_PRODUCTS_PICTURES}/{if $_picture.enlarged}{$_picture.enlarged|escape:'url'}{else}{$_picture.filename|escape:'url'}{/if}' img_width="{$_picture.width}" img_height="{$_picture.height}" img_enlarged="{if $_picture.enlarged}{$smarty.const.URL_PRODUCTS_PICTURES}/{$_picture.enlarged|escape:'url'}{/if}" img_picture="{$smarty.const.URL_PRODUCTS_PICTURES}/{$_picture.filename|escape:'url'}">
				        <img src='{$smarty.const.URL_PRODUCTS_PICTURES}/{$_picture.thumbnail|escape:'url'}' border='0' alt="{$product_info.name|escape:'html'}" title="{$product_info.name|escape:'html'}" />
							</a>
						{else}

							<img src='{$smarty.const.URL_PRODUCTS_PICTURES}/{$_picture.thumbnail|escape:'url'}' border='0' alt="{$product_info.name|escape:'html'}" title="{$product_info.name|escape:'html'}" />
						{/if}
					</td>
					{if ($_pict_num)%2 == 0}</tr>{/if}
				{/if}
			{/foreach}
			{if ($_pict_num+1)%2 == 0}</tr>{/if}
			</table>
		{/if}
	{/if}

	{if $PAGE_VIEW eq 'mobile' &&  $m_all_product_pictures}
		<table cellpadding="3" id="box_product_thumbnails">
			{foreach from=$m_all_product_pictures item=_picture name=frpict}
				<tr>
					<td align="center">
						<a target="_blank" onclick="return hs.expand(this)" class="highslide" href='{$smarty.const.URL_PRODUCTS_PICTURES}/{if $_picture.enlarged}{$_picture.enlarged|escape:'url'}{else}{$_picture.filename|escape:'url'}{/if}' img_width="{$_picture.width}" img_height="{$_picture.height}" img_enlarged="{if $_picture.enlarged}{$smarty.const.URL_PRODUCTS_PICTURES}/{$_picture.enlarged|escape:'url'}{/if}" img_picture="{$smarty.const.URL_PRODUCTS_PICTURES}/{$_picture.filename|escape:'url'}">
							<img src='{$smarty.const.URL_PRODUCTS_PICTURES}/{$_picture.thumbnail|escape:'url'}' border='0' class="product-image" />
						</a>
					</td>
				</tr>
			{/foreach}
		</table>

	{/if}
	</div>
	
	<div id="controlbar" class="highslide-overlay controlbar">
		<a href="#" class="previous" onclick="return hs.previous(this)"></a>
		<a href="#" class="next" onclick="return hs.next(this)"></a>
	    <a href="#" class="close" onclick="return hs.close(this)"></a>
	</div>
{else}
	<div style="text-align:center">
		<img border=0 src="{$smarty.const.URL_DEMOPRD_IMAGES}/picture1.jpg" alt="{'demoprd_name'|translate|escape:'html'}">
		<br>
		<table align="center"><tr><td><img src="{$smarty.const.URL_IMAGES}/enlarge.gif"></td><td>
			<a class="olive" href="#">{"str_enlarge_picture"|translate}</a>
		</td></tr></table>
	</div>
{/if}