{*<script type="text/javascript" src="{$smarty.const.URL_JS}/product_detailed.js"></script>*}
{if $widget}
  {assign var=_ext_url value="&view=noframe&external=1"}
{/if}

{if $product_info ne NULL || $CPT_CONSTRUCTOR_MODE}

{if $PAGE_VIEW ne 'printable'}

<table cellpadding="0" cellspacing="0" width="100%">
  <tr>
    <td valign="top">{cpt_product_category_info}</td>
    {if $PAGE_VIEW ne 'mobile'}
    <td align='right'> {* printable version link *}
     <table cellpadding="0" cellspacing="0" class="product_print_v">
      <tr><td><a href="javascript:open_printable_version('{"view=printable"|set_query}');"><img src="{$smarty.const.URL_IMAGES}/printer-icon.gif" alt="{lbl_btn_printable_version}" /></a></td>
      <td><a href="javascript:open_printable_version('{"view=printable"|set_query}');">{lbl_btn_printable_version}</a></td>
      </tr>
     </table>
    </td>
    {/if}
  </tr>
</table>

{/if}

<table cellpadding="0" cellspacing="0" border="0" width="100%">
<tr>
  <td colspan="2" valign="middle"><!-- cpt_container_start -->
    <div class="title-product">
      {cpt_product_name}
    </div>
    <!-- cpt_container_end -->
  </td>
</tr>
<tr>
  <td valign="middle" align="center" width="300">    
    <div class="block-image">
      <div>
        {cpt_product_images}
      </div>
      <div>
        {cpt_product_rate_form}
      </div>
    </div>
  </td>
  <td valign="top" align="left">
    <div class="block-product">      
      <div class="block-content clearfix">
        <div class="block-left">
          <div class="padding-right">
            <div class="wrapper-price">

              <form rel="{$product_info.productID}" action='{""|set_query_html}' method="post" class="product-form">
                <input name="productID" value="{$product_info.productID}" type="hidden" />
                <input class="product_price" value="{$product_info.price_incurr|escape:'html'}" type="hidden" />
                <input class="product_list_price" value="{$product_info.list_price_incurr|escape:'html'}" type="hidden" />

                <div class="block-before-buy {if $product_info.in_cart}hide-important{/if}">
                  <div class="block-price">
                    <table cellpadding="0" cellspacing="0" width="100%">
                      <tr>
                        <td valign="middle" align="center">
                          <div><span>Цена</span></div>
                          {cpt_product_price}
                          {if $product_info.ordering_available && $product_info.Price>0 && ( $smarty.const.CONF_SHOW_ADD2CART eq 1 ) && ( $smarty.const.CONF_CHECKSTOCK==0 || $product_info.in_stock > 0 ) }
                            <div><span class="green"><i class="fa fa-check-circle"></i>есть на складе</span></div>
                          {elseif $smarty.const.CONF_SHOW_ADD2CART eq 1 && $smarty.const.CONF_CHECKSTOCK && !$product_info.in_stock && $product_info.ordering_available}
                            <div class="prd_out_of_stock">{lbl_prd_out_of_stock}</div>
                          {/if}
                        </td>
                      </tr>
                    </table>
                  </div>
                  <div class="block-add2cart">
                    {cpt_product_add2cart_button request_product_count='request_product_count'}
                  </div>
                  <div class="block-quick-order">
                    {cpt_qorder}
                  </div>
                  <div class="block-other">
                    {cpt_product_params_selectable overridestyle=''}
                    {cpt_product_params_fixed overridestyle=''}
                  </div>
                </div>

                <div class="block-after-buy {if $product_info.in_cart} show-price{/if}" {if $product_info.in_cart}style="display: block;"{/if}>
                  <div class="block-cart-noempty">
                    <a href="/cart"><i class="icon-cart"></i></a>
                    <strong>Товар добавлен<br /> в корзину</strong>
                  </div>
                  <div>
                    <a href="/cart" class="btn orange light">Перейти в корзину<i class="fa fa-sign-out"></i></a>
                  </div>
                </div>
              </form>
            </div>


          </div>
        </div>
        <div class="block-right">
          <div class="inner-block-right">
            <div class="block-addition-info">
              <ul class="no-bullet list-button wrap-popover">
                <li class="delivery"><a href="#" class="popover-btn" data-popover=".delivery-popover">О доставке</a>
                  <div class="popover delivery-popover">
                    {$delivery_btn}
                  </div>
                </li>
                <li class="pickup"><a href="/delivery_page" class="iframe large">О самовывозе</a></li>
                <li class="pay"><a href="#" class="popover-btn" data-popover=".pay-popover">Об оплате</a>
                  <div class="popover pay-popover ">
                    {$pay_btn}
                  </div>                  
                </li>
              </ul>
            </div>
            <div class="block-phone-order">
              <p>Закажите по телефону:</p>
              <h3>+7(495)<span>363-25-49</span></h3>
              <!--<h3>+7(495)<span>786-80-13</span></h3>-->
            </div>
            <div class="block-opt">
              <a href="/price_wholesale" class="iframe btn"><i class="fa fa-money"></i>Узнать цену оптом</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </td>
</tr>
<tr>
  <td colspan="2">
    <!-- cpt_container_start -->
    
    <div class="clearfix">
      <ul class="product-tabs">
        <li><a href="#" class="btn_checkout delivery btn black" data-delivery="about" data-class=".product-tab" title="О товаре">О товаре</a></li>
        <li><a href="#" class="btn_checkout delivery btn black active" data-delivery="compatibility" data-class=".product-tab" title="Совместимость">Совместимость</a></li>      
        <li><a href="#" class="btn_checkout delivery btn black" data-delivery="reviews" data-class=".product-tab" title="Отзывы">Отзывы</a></li>
        <li><a href="#" class="btn_checkout delivery btn black" data-delivery="features" data-class=".product-tab" title="Характеристики">Характеристики</a></li>
        <li><a href="#" class="btn_checkout delivery btn black" data-delivery="questions" data-class=".product-tab" title="Часто задоваеммые вопросы">Часто задаваемые вопросы</a></li>
      </ul>
    </div>
    
    <div class="content-product-tabs">
      <div class="product-tab about">
        {$product_info.description}
      </div>
      <div class="product-tab compatibility show">    
        {$product_info.brief_description}
      </div>
      <div class="product-tab reviews">
        {cpt_product_discuss_link}
      </div>
      <div class="product-tab features">
        {$product_info.features_ru}
      </div>
      <div class="product-tab questions">
        {$questions} 
      </div>
    </div>
    
    {cpt_product_related_products overridestyle=''}
    
    {cpt_product_details_request overridestyle=''}
    <!-- cpt_container_end -->
{*
    <div class="tabs">
    <ul>
      <li>
        <a href="{"?product_slug=`$product_info.slug`&productID=`$product_info.productID`&ukey=discuss_product"|set_query_html}"></a>
      </li>
    </ul>
    </div>
    *}
  </td>
</tr>
</table>

<script type="text/javascript" src="http://www.gdeslon.ru/landing.js"></script>

{/if}

</form>