 <a href="/quick_order" class="btn quick_order_button iframe small block-before-buy {if $product_info.in_cart}hide-important{/if}" onclick="return false;"><i class="fa fa-phone"></i><span>Купить</span> За 1 клик</a>