<div class="drop_menu">
    <ul class="dropdown">
    {foreach from=$root_categories item=_cat name=_fr}
    {assign var=_cat_url value="?categoryID=`$_cat.categoryID`&category_slug=`$_cat.slug`"|set_query_html}
        <li>
			{if $root_categories_subs[$_cat.categoryID] ne ""}
			<div class="lli">
			{/if}
            <div class="drop_pic">
            {if $_cat.picture ne "" && $PAGE_VIEW ne 'mobile'}
                <a href='{$_cat_url}'><img border="0" src="{$smarty.const.URL_PRODUCTS_PICTURES}/{$_cat.picture|escape:'url'}" alt="{$_cat.name|escape:'html'}"></a>
            {else}
                <a href='{$_cat_url}' class="home_page_category_logo"><img border="0" src="/i/blank.jpg" alt="{$_cat.name|escape:'html'}"></a>
            {/if}
            </div>
            <a href="{$_cat_url}">{$_cat.name|escape:'html'|default:'(no name)'}</a>
			{if $root_categories_subs[$_cat.categoryID] ne ""}
			</div>
            <ul class="sub_menu">
            {foreach name=sub_cat_list from=$root_categories_subs[$_cat.categoryID] item=_subcat}
                <li><a href='{"?categoryID=`$_subcat.categoryID`&category_slug=`$_subcat.slug`"|set_query_html}'>{$_subcat.name|escape:'html'}</a></li>
            {/foreach}
            </ul>
			{/if}
        </li>
    {/foreach}
    </ul>
</div>