{if $channel.items}
<div class="rss-reader">
	<h3><a href="{$channel.link}">{$channel.title}</a></h3>
	<ul>
		{foreach from=$channel.items item=_i}
		<li>
			<a href="{$_i.link}" target="_blank"><span>{$_i.date}</span> {$_i.title}</a>
		</li>
		{/foreach}
	</ul>
</div>
{/if}