<h1 {if $printable_version}align="center"{/if}>{if $order}{if !$printable_version}<a href="{"?ukey=order_status"|set_query}">{"pgn_order_status"|translate}{if $order}</a>&nbsp;&raquo;&nbsp;{/if}{/if}{if $order}{"ordr_order"|translate}&nbsp;#{$order.orderID_view}{/if}</h1>
	<p style="font-size:120%;font-weight:bolder;">
		{"str_status"|translate}&nbsp;&mdash;&nbsp;<span style="{$order.status_info._style}">{$order.status_name}</span>
	</p>
{else}
	</h1>
	{if $edited}<span style="color:red">{"str_order_not_found"|translate}</span>{/if}
{/if}
{if $full_info}{include file= $CurrentSubTpl}{/if}
{if !$printable_version}
{if !$full_info}
<form name="mainForm" method="post" action="{''|set_query}">
<div class="form_wrapper">
		<p>{"ordr_id"|translate}:&nbsp;<br><input type="text" name="orderID" value="{if $order && $order.orderID>0}{$order.orderID_view}{else}{$order_id}{/if}"></p>
		<p>{"usr_custinfo_email"|translate}:&nbsp;<br><input type="text" name="customer_email" value="{$customer_email}"></p>
{if $order}		
		{*<p>{"usr_custinfo_first_name"|translate}:&nbsp;<br><input type="text" name="customer_first_name" value=""></p>*}
		<br>
		
		<div class="background1">
		{if $wrong_last_name&&$customer_last_name}<span style="color:red">{"err_wrong_last_name"|translate}</span><br>{/if}
		{"ordr_full_info_description"|translate}<br>
		{"usr_custinfo_last_name"|translate}:&nbsp;<br>
		<input type="text" name="customer_last_name" value="{$customer_last_name}">
		</div>
		
{/if}		
		<p><input type="submit" name="find" value="{if $order}{"ordr_show_details"|translate}{else}{"ordr_check_status"|translate}{/if}"></p>
</div>
</form>
{/if}
{/if}