{if $smarty.const.CONF_SHOW_ADD2CART eq 1}
{if $smarty.const.CONF_SHOPPING_CART_VIEW ne $smarty.const.SHCART_VIEW_PAGE}
{assign var=checkout_class value="hndl_proceed_checkout"}
{/if}
<span><i class="shopping-cart"></i></span>
{if $shopping_cart_items}
<a class="{$checkout_class}" rel="nofollow" href="{"?ukey=cart"|set_query}">
<span id="shpcrtgc">{$shopping_cart_items} шт.</span>
<span class="pl35">На сумму: <font id="shpcrtca">{$shopping_cart_value_shown|replace:'"':'&quot;'}</font></span>
</a>
{literal}
<script type="text/javascript">
<!--
$('.cpt_shopping_cart_info').attr('id','cart_not_empty');
//-->
</script>
{/literal}
{else}
<a class="{$checkout_class}" rel="nofollow" href="{"?ukey=cart"|set_query}">
<span id="shpcrtgc">&nbsp;</span>
<span class="pl35 no-padding"><span id="shpcrtct" class="hide">На сумму: </span><font id="shpcrtca">{"cart_content_empty"|translate}</font></span>
</a>
{/if}
{/if}