.cptovst_xtdd1n{background-color: #FFFFFF!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{color: #009900!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{text-align: center!important;}


.cptovst_2k5t6d{background-color: #CCFFFF!important;}
.cptovst_2k5t6d *,.cptovst_2k5t6d{text-align: left!important;}


.cptovst_ifgsci *,.cptovst_ifgsci{text-align: left!important;}


.cptovst_i8o246{background-color: #CC9900!important;}
.cptovst_i8o246 *,.cptovst_i8o246{text-align: left!important;}


.cptovst_wpe3jv{background-color: #FFFF99!important;}
.cptovst_wpe3jv *,.cptovst_wpe3jv{text-align: left!important;}


.cptovst_v5norh *,.cptovst_v5norh{text-align: left!important;}






.cptovst_m1ju84 *,.cptovst_m1ju84{text-align: left!important;}


.cptovst_fqc60y *,.cptovst_fqc60y{text-align: left!important;}


.cptovst_cjx1zn{background-color: #43B9F0!important;}
.cptovst_cjx1zn{border-color: #43B9F0!important; border-style:solid;}
.cptovst_cjx1zn *,.cptovst_cjx1zn{color: #000000!important;}
.cptovst_cjx1zn *,.cptovst_cjx1zn{text-align: left!important;}
.cptovst_cjx1zn * a,.cptovst_cjx1zn a{color: #000000!important;}


.cptovst_mk40f7 *,.cptovst_mk40f7{text-align: left!important;}


.cptovst_1k1llo *,.cptovst_1k1llo{text-align: left!important;}




.cptovst_yp917w *,.cptovst_yp917w{text-align: left!important;}






