@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic);
@font-face {
    font-family: 'univers_condensedmedium';
    src: url('fonts/univers_condensed_medium-webfont.eot');
    src: url('fonts/univers_condensed_medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/univers_condensed_medium-webfont.woff') format('woff'),
         url('fonts/univers_condensed_medium-webfont.ttf') format('truetype'),
         url('fonts/univers_condensed_medium-webfont.svg#univers_condensedmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'pf_dindisplay_proregular';
    src: url('fonts/pfdindisplayproregular-webfont.eot');
    src: url('fonts/pfdindisplayproregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/pfdindisplayproregular-webfont.woff') format('woff'),
         url('fonts/pfdindisplayproregular-webfont.ttf') format('truetype'),
         url('fonts/pfdindisplayproregular-webfont.svg#pf_dindisplay_proregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
html,body{
	height: 100%;
	margin:0px;
	padding: 0px;
}
body,td,input,textarea{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000000;
}

body{
	background-color:white;
}

h1{
	font-size:1.2em;
	font-weight: bold;
	margin-top: 0px;
	padding-top: 0px;
}

h1.breadcrumbs a{
	font-size: 100%;
	color: #000000;
	font-weight: bold;
	color: #597380;
}
h1.breadcrumbs a:visited{
	color: #597380;
}

h1 a.h1{
	font-weight: normal;
	font-size: 0.7em!important;
	vertical-align: 1;
}

a.note_link{
	font-size: 1.2em;
	text-decoration: none;
}

h2{
	font-size:110%;
}
h2 a{
	font-weight: normal;
	font-size: 0.9em;
	vertical-align: 1;
}

h3{
	font-size:105%;
}

h4{
	font-size:105%;
}

table.grid{
	border-collapse: collapse;
}

table.grid td{
	padding: 3px 5px;
	padding-right: 12px!important;
	font-size: 0.8em;
	max-width: 180px;
  overflow: hidden;
}

tbody.gridline tr, tr.gridline1{
	background: #FFFFFF;
}
tbody.gridline tr, tr.gridline{
	background: #fafae7;
}
tr.gridline a{
	text-decoration:none;
	color: #000000!important;
	display: block;
}
tr.gridline1 a{
	text-decoration:none;
	color: #000000!important;
	display: block;
}
tr.gridline a.normal, tr.gridline1 a.normal, td.normal a{
	text-decoration: underline;
	display: inline;
	color: #597380!important;
}
tr.gridline:hover, tr.gridline1:hover {background: #f5f0bb;}
tr.gridsheader td{
	padding: 4px 5px!important;
	padding-right: 12px!important;
	border: 0px solid #999999;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
	border-top-width: 1px;
	border-top-color: #EEEEEE;
}
.gridsheader_simple td{
	padding-top: 12px!important;
	font-weight: bold;
}
tr.gridsfooter td{
	border: 0px solid #999999;
	border-top-width: 1px;
	border-top-color: #CCCCCC;
}
tr.gridsheader{
	background: white url(../images_common/simplelist-background-gradient-gray.gif) repeat-x;
	background-position: bottom;
}
/*
tr.gridline1 td{
	background-color:white;
	border: solid 0px #56AFD6;
	border-right-width: 1px;
}
tr.gridline td{
	background-color:#eee;
	border: solid 0px #56AFD6;
	border-right-width: 1px;
}
*/
tr.gridline_outofstock a{
	color: red!important;
}
.cell_configs{
	padding:0px!important;
	font-size:8pt;
	border: solid 1px #56AFD6 !important;
}
.cell_configs td{
	border:0px!important;
}
.endgrid{
	border-width:0px !important;
}
a.gridheader:hover,a.gridheader:link,a.gridheader:visited,a.gridheader:active{
	text-decoration: underline;
	color: black;
	font-weight:normal;
	font-size:10pt;
}
a.gridheader:hover{text-decoration:none;}

a.listerhref:hover,a.listerhref:link,a.listerhref:visited,a.listerhref:active{
	text-decoration: underline;
	color: black;
	font-weight:normal;
}
a.listerhref:hover{text-decoration:none;}

a.bluehref:hover,a.bluehref:link,a.bluehref:visited,a.bluehref:active{
	text-decoration: underline;
	color: #597380 !important;
	font-weight:normal;
}
a.bluehref:hover{text-decoration:none;}

a.leftmenu:hover,a.leftmenu:link,a.leftmenu:visited,a.leftmenu:active{
	text-decoration: none;
	color: black;
	font-weight:normal;
	font-size: 10pt;
}

a.adminbookmark:hover,a.adminbookmark:link,a.adminbookmark:visited,a.adminbookmark:active{
	text-decoration: none;
	color: #333;
}
a.navi2level:hover,a.navi2level:link,a.navi2level:visited,a.navi2level:active{
	text-decoration: underline;
/*
	color: navy;
	*/
	color: #535C5F;
	font-weight:normal;
	font-size: 90%;
}
a.navi2level_active:hover,a.navi2level_active:link,a.navi2level_active:visited,a.navi2level_active:active{
	text-decoration: none;
	color: #333;
	font-weight:normal;
	font-size: 90%;
}

td.navi2level,td.navi2level_active{
	vertical-align: top;
	text-align: center;
}

td.navi2level_active a{
 font-weight: bold!important;
}

/*checkbox without margin*/
input.checknomarging{
	margin: 0px;
}

div.divtabs div{
 padding: 2px 0px 4px 0px;
 background-color: #DFF5FF;
}

div.divtabs_curr a{
 font-weight: bold!important;
}

div.divtabs_curr div{
 padding: 2px 0px 4px 0px;
 background-color: #BEDDEB;
}

table.topmenu td{
 padding: 0px 4px 0px 0px;
 white-space: nowrap;
}

#admincontent{
 border: 0px solid #BEDDEB;
 border-top-width: 1px;
}

div#nifty{ margin: 0 10%;background: #BEDDDB}
div#nifty_w{ margin: 0;background: #FFF;}
div#nifty_sbm{ margin: 0 20%;background: #FFF; cursor: pointer; cursor: hand;}

b.rtop_w, b.rbottom_w{display:block;background: #BEDDDB}
b.rtop_w b, b.rbottom_w b{display:block;height: 1px;
    overflow: hidden; background: #FFF}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop_w b.r4, b.rbottom_w b.r4{margin: 0 1px;height: 2px}


b.rtop, b.rbottom{display:block;background: #FFF}
b.rtop b, b.rbottom b{display:block;height: 1px;
    overflow: hidden; background: #BEDDDB}
b.r1{margin: 0 5px}
b.r2{margin: 0 3px}
b.r3{margin: 0 2px}
b.rtop b.r4, b.rbottom b.r4{margin: 0 1px;height: 2px}

.inpt{border-width:0px; padding:3px;}

#navi2level_cell{
	padding:4px;
	background-color: #BEDDEB;
}

td#content{
	background-color:#FFFFFF;
	vertical-align:top;
	padding:15px;
	height: 100%;
}

div#content{
	background-color:#FFFFFF;
	height: 100%;
	padding:15px;
}

.faq{
	color: red;
	font-weight: bold;
}

a.templates:hover,a.templates:link,a.templates:visited,a.templates:active{font-weight:normal;text-decoration: none;color: #888888; font-size: 10pt;}
a.templates:hover{color: #333333; text-decoration:underline;}
a.a_templates:hover,a.a_templates:link,a.a_templates:visited,a.a_templates:active{font-weight:normal;text-decoration: none;color: #597380; font-size: 10pt;}
a.a_templates:hover{color: navy; text-decoration:underline;}
.treecant{
	border: 1px black solid;
	padding:15px;
	padding-top:0px;
	background-color:white;
}

.pmnttype_notact{
	color: #999999;
}

.success_block{
	border: 0px solid #26B273;
	border-width: 1px 0px 1px 0px;
	color: black;
	background-color: #D1F7CF;
	padding:10px;
	margin: 10px;
	background-color: #D1F7CF;
	font-weight: bold;
}
.error_block{
	border: 0px solid #C75A5A;
	border-width: 1px 0px 1px 0px;
	background-color: #F7CFCF;
	padding:10px;
	margin: 10px;
	color: black;
	font-weight: bold;
}
#wnd-msg-block{
	border-width: 1px;
	margin: 0px;
	padding:20px;
}

.comment_block{
	border: 0px solid #859AA4;
	border-width: 2px 0px 2px 0px;
	background-color: #fafae7;
	padding:10px;
	margin: 10px;
}

.error_flag{
	color: red;
	font-weight: bold;
}

.loc_subgroup{
	background-color: #859AA4;
	color: #F3FBFF;
}

.loc_subgroup td{
	background-color: #859AA4;
	color: #F3FBFF;
}

img{
border:0px;
}

.loc_local_value{
 width:100%;
}

tr.odd td{
 background-color: #FFF;
}
tr.even td{
 background-color: #E1EFEE;
}

a{
 color: #597380;
}
a:visited{
 color: #004368;
}

.field_descr{
 color: #999;
 font-size: 80%;
}

input.text{
 margin: 3px;
 font-size: 110%;
 vertical-align: middle;
}

.handle{
 cursor: move;
}

input.button{
;
}

.note{
	font-size: 80%;
}

.notice{
	font-size: 80%;
	color: #999999;
}

b.niftycorners,b.niftyfill{display:block}

b.niftycorners *{display:block;height: 1px;line-height:1px;font-size: 1px;
    overflow:hidden;border-style:solid;border-width: 0 1px}
  
/*normal*/
b.r1{margin: 0 3px;border-width: 0 2px}
b.r2{margin: 0 2px}
b.r3{margin: 0 1px}
b.r4{height: 2px}
b.rb1{margin: 0 8px;border-width:0 2px}
b.rb2{margin: 0 6px;border-width:0 2px}
b.rb3{margin: 0 5px}
b.rb4{margin: 0 4px}
b.rb5{margin: 0 3px}
b.rb6{margin: 0 2px}
b.rb7{margin: 0 1px;height:2px}
b.rb8{margin: 0;height:2px}
b.rs1{margin: 0 1px}
/*transparent inside*/
b.t1{border-width: 0 5px}
b.t2{border-width: 0 3px}
b.t3{border-width: 0 2px}
b.t4{height: 2px}
b.tb1{border-width: 0 10px}
b.tb2{border-width: 0 8px}
b.tb3{border-width: 0 6px}
b.tb4{border-width: 0 5px}
b.tb5{border-width: 0 4px}
b.tb6{border-width: 0 3px}
b.tb7{border-width: 0 2px;height:2px}
b.tb8{border-width: 0 1px;height:2px}
b.ts1{border-width: 0 2px}


/* Theme */
#edmod{
 list-style-type:none;
 border:0px solid #666666;
 border-bottom-width: 2px;
 margin: 0px 0px 5px 0px;
 padding: 0px 0px 0px 8px;
 overflow: hidden;
 width: 100%;
}

#edmod li.tab{
 float: left;
 background-color: #999999;
 margin: 0px 4px;
 padding: 3px 6px;
 width: 150px;
 text-align: center;
}

#edmod li.right_tab{
 float:right;
}

#edmod li#tab-css{
 background-color: #FFA500;
}

#edmod li#tab-css-current{
 background-color: #FF0000;
}

#edmod li.current{
 background-color: #666666;
}

#edmod li.right_tab a{
 text-decoration: none;
 width: 100%;
 color: white;
}

#edmod li.tab a{
 text-decoration: none;
 width: 100%;
 display: block;
 color: #333333;
}

#edmod li.current a{
 color: white;
}

#edmod li#tab-css a, #edmod li#tab-css-current a{
 color: white;
}

#advanced_navigation{
 margin: 0px;
 padding: 0px;
 padding-left:8px;
 display: inline;
 float: left;
 width: 100%;
 clear: both;
 margin-bottom: 5px;
 padding-left: 0px;
 overflow: hidden;
}

#advanced_navigation li{
 display: inline;
 float: left;
 margin: 0px;
 margin-left: -1px;
 padding: 0px 9px 0px 8px;
 border: 0px solid #666;
 border-left-width: 1px;
}

#advanced_navigation li a{
 color: #666;
 text-decoration:none;
 font-size: 80%;
}

#advanced_navigation li.current a{
 color: #333;
 font-weight: bold;
}
#components-list{
 padding: 0px;
 margin: 0px;
 margin-left: 10px;
 list-style-type:none;
}

#components-list li{
 padding: 0px;
 margin: 0px;
 margin-top: 5px;
 margin-bottom: 5px;
}

div.cpt_settings{
 padding-left: 10px;
}

div.cpt_settings{
 font-size: 70%;
}

div.cpt_settings input, div.cpt_settings textarea{
 font-size: 90%;
}

div.cpt_act a{
 color: #666;
}

#cpt-right-panel{
	font-size: 9pt;
	width: 170px;
	vertical-align: top;
}
#cpt-right-panel *{
	font-size: 9pt;
}

.thm_last_modified{
color: #999;
font-weight: normal;
}

ul#product-pictures-container{
	margin: 0px;
	padding: 0px;
	display: inline;
	clear:both;
}

ul#product-pictures-container li{
	margin: 0px;
	padding: 0px;
	list-style-type:none;
	float: left;
}

ul#product-pictures-container li table td{
	text-align:center;
}

.default_picture a.set_default_picture_handlers{
	display:none;
}

div.productsBubble{
	margin-left:30px;
	border: 0px solid #999;
	border-left-width: 2px;
	padding-left: 5px;
}
div.productsBubble a{
	color: #999!important;
}

#product-category-name{
	font-weight: bold;
}

.menu_ul
{
	z-index:99; 
	position: absolute; 
	visibility: hidden;
	top: -1000px; 
	left: -1000px; 
	border: 1px solid #DDD; 
	background-color: white;
	padding:0px;
	margin:0px;
}
.menu_point_li, .menu_point_over_li, .menu_divider_li, .menu_divider_over_li
{
	text-align: left;
	cursor: default;
	padding: 2px 10px 2px 10px;
	margin:2px;
	list-style-type:none;
	color: #666666;
	font-size: 80%;
}
.menu_point_over_li{
	background-color: #CCC;
	color: #000000!important;
}

.menu_divider_li{
	border: #cccccc 0px solid;
	border-top-width: 1px;
}

.menu_divider_over_li{
	background-color: #eeeeee;
	color: #000000;
	border: #cccccc 0px solid;
	border-top-width: 1px;
}

.menu_ul a{
 text-decoration: none!important;
 color: #333!important;
}

.menu_point_over_li a{
 text-decoration: none!important;
 color: #666!important;
}

.currency_block{
margin: 5px 0px;
margin-top: 0px;
padding: 10px 20px;
padding-top: 0px;
white-space: nowrap;
float:left;
clear:both;
}

.currency_block.highlight{
background-color: #fafae7;
}

.currency_edit_form{
margin: 10px 0px;
padding-top:5px;
border: 0px solid #666;
border-top-width:1px;
}

.wnd_init{
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 100;
	border: #000000 solid 0px;
	background-color: white;
	padding: 0px;
}

#imm-img-file{
	margin-bottom: 6px;
	white-space: nowrap;
}

.imm_img_box{
	border: 1px solid #CCC;
	margin: 5px;
	cursor: pointer; cursor: hand;
}
#blck-img-menu{
	position:relative;
}
#blck-img-menu #blck-img-menu-sub{
	background-color: #fafae7;
	border: 1px solid #CCC;
	padding: 3px 7px 4px 6px;
	
	z-index: 100;
  	position: absolute;
  	top: 58px;
	left: 58px;
	text-align: left;
}

#imm-img-permalink-field-box{
	display: none;
}
#imm-img-permalink-field{
	font-size: 70%;
}

#imm-images-box{
	margin: 0px;
	padding: 10px;
	list-style-type:none;
/*	overflow: hidden;*/
	width: 100%;
}
#imm-images-box li{
	float: left;
	padding: 0px;
	margin: 8px;
	width: 120px;
}
.dragRow{
	background: #f5f0bb;
}
.blockquote{
	margin-left: 20px;
}
.lcolumnr{
	width: 300px;
}
tr.order_new *{
	font-weight: bold!important;
}
tr.order_completed *{
	font-style: italic!important;
}
tr.order_canceled *{
	color: #AAA!important;
}
tr.order_canceled a{
	color: #AAA!important;
}
input.input_message{
	color: #aaaaaa;
}
input.input_message_focus{
	color: #000000;
}
ul.form{
list-style-type:none;
padding: 0px;
margin:6px 0px;
}
ul.form li{
padding: 5px 0px;
margin:0px;
}

.chckrpl_module_block{
	margin-bottom: 20px;
	width: 580px;
	background-color: #fafae7;
	padding: 15px;
}

.chckrpl_module_block table{
	width: 100%;
}

.chckrpl_module_block h2{
	display: inline;
}

.marginblock{
	margin-left: 20px;
}

.pwgt_wgt_block .pwgt_prd_block{
	background-color: #fafae7;
}

.pwgt_wgt_block.collapsed .pwgt_prd_block{
	background-color: #ffffff;
}

tr.highlight td{
	background-color: #fafae7;
}

.pwgt_wgt_block.collapsed tr.pwgt_wgt_block{
	display: none;
}

a.normal{
	text-decoration: underline!important;
	color: #597380!important;
}

#prdlist-add-product-block{
	padding: 10px;
	background-color: #fafae7;
	width: 600px;
}
#prdlist-add-product-block form{
	display: inline;
}
#user-menu{
	background-color: #fafae7;
	padding: 5px 15px;	
}
#user-menu a.current{
	color:navy;
}
.post_title{
 color: #666;
 margin-top: 30px;
 margin-bottom: 0px;
}
.post_date{ 
 color: #999;
 border: 0px solid #EEE;
 border-top-width: 1px;
 margin-bottom: 15px;
 }
.post_content{
 padding-left: 20px;
}
.background1{
 background-color: #fafae7;
}

/* Product categories && Link exchange*/
#left-block{
 width: 250px;
 vertical-align: top;
}
#left-div{
 background-color: #f5f0bb;
 margin-right: -2px;
// width: 250px;
}
#right-block{
// width: 100%;
 vertical-align: top;
}
#left-div ul{
 list-style-type: none;
 margin: 10px 0px 10px 5px;
 padding: 0px;
}
#left-div ul li{
 margin: 0px;
 padding: 0px;
}
#left-block li{ 
 background-color: #f5f0bb;
}
#left-block li div{
 padding: 2px 10px 2px 5px;
}
#left-block div.current{
 padding: 4px 10px 4px 5px;
 background-color: #ffffff;
 border: 0px solid white;
 border-right-width: 2px;
 position: relative;
 z-index: 100;
}
#left-block div.current{
 text-decoration: none;
}
#left-bottom{
 text-align: center;
 margin: 10px;
}

#right-block{
 border: 2px solid #f5f0bb;
 padding: 10px;
}
#tbl-block{
 margin-bottom: 10px;
 width: 100%;
 height: 100%;
}
/************/
table.grid table.lang_fields td{
	padding: 0px!important;
	padding-right: 0px!important;
}

.prd_frame iframe{
	border: 1px solid #777;
}

/******************
ORDER DETAILED
*******************/
#ord_customer_name{
	font-size: 105%;
	font-weight: bold;
}
#ord_order_content{
    min-width:550px;
    width: expression(document.body.clientWidth <550? "550px": "auto");
}
tr#ord_total_row *{
	font-size: 105%;
	font-weight: bold;
}
#ord_change_status_block{
	display: none;
	background-color: #ffffff;
}
#ord_change_status_block form{
	margin: 0px;
	text-align: center;
	padding:20px;
}
#ord_add_comment_block{
	display: none;
	background-color: #ffffff;
}
#ord_add_comment_block form{
	margin: 0px;
	text-align: center;
	padding:20px;
}
#ord_orderactions{
	padding: 14px;
	background-color: #fafae7;
}
#ord_orderactions input{
	margin: 6px;
}

#styles-block{
	white-space: nowrap;
}

h1 .small{
	font-size: 65%;
}

#hidden2{
	height:100%;
}

table.address_form td {
	padding: 3px;
}

table.address_form .txt_or_sel {
	width: 270px;
}

table.address_form tr.odd_line {
	background-color: #FAFAE7;
}

table.order_edit_address_form .txt_or_sel {
	width: 186px;
}

.black_solid_border {
	border: solid 1px black;
}

.dashed_link {
	text-decoration: none;
	border-bottom: dashed 1px;
}

.mceLayout { max-width: 820px !important ; }

.border-red { border: 2px solid red; }

.clearfix:after { 
  content: "."; 
  display: block; 
  height: 0; 
  clear: both; 
  visibility: hidden; 
}
.clearfix { 
  display: inline-block;  
}
* html .clearfix {  
  height: 1%;  
} /* Hides from IE-mac \*/
.clearfix {  
  display: block;  
}

.row {  } 

.row .left { float: left; width: 50% }
.row .right { float: left; width: 48%; margin-left: 2%; }

.categories-list { border: 1px solid gray; max-height: 300px;  overflow-y: hidden; overflow-y: scroll; margin-bottom: 10px; }

.categories-list ul li input[type=text] { width: 30px; margin-left: 20px; height: 19px; line-height: 17px; float: right; }

.categories-list ul li .jstree-anchor { min-width: 350px; }

.wrapper-form { width: 50%; }
.wrapper-form.w100 { width: 100%; }
.wrapper-form .row { margin-bottom: 20px; }
.wrapper-form label { width: 200px; display: inline-block; }
.wrapper-form .large { width: 100%; }
.wrapper-form .short { width: 10%; }
.wrapper-form ul { list-style: none; }

.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

.right { float: right; }

.hide {
  display: none;
}

.hide-important {
  display: none!important;
}

.wrapper-slideshow-flipper .wrapper-countdown {
  width: 220px;
  height: 40px;
  line-height: 40px;
  float: left;
}

.wrapper-slideshow-flipper .countdown { float: left; margin-top: 5px; }

.wrapper-slideshow-flipper .wrapper-progressbar {
  width: 170px;
  height: 30px;
  line-height: 30px;
  float: left;
}

.wrapper-slideshow-flipper .progressbar { 
  position: relative; 
  width: 100%; 
  height: 30px; 
  background-color: white;
  margin: 5px 0 0 0;
  
  -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;    
}

.wrapper-slideshow-flipper .progressbar p { 
  padding: 0 20px;
  margin: 0px;
  font-size: 13px; 
  white-space: nowrap; 
  text-align: left;
}

.wrapper-slideshow-flipper .progressbar > p {
  color: black;
}

.wrapper-slideshow-flipper .progressbar > div { 
  position: absolute; 
  top: 0px; 
  left: 0px; 
  height: 30px; 
  width: 100%; 
  overflow: hidden;
  background-color: red;

  -webkit-border-radius: 5px 0 0 5px;
   -khtml-border-radius: 5px 0 0 5px;
     -moz-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;   
}

.wrapper-slideshow-flipper .progressbar > div > p { 
  color: white;
}

.wrapper-slideshow-flipper .progressbar.green div {
  background: #bfd255;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JmZDI1NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzhlYjkyYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUyJSIgc3RvcC1jb2xvcj0iIzcyOTUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc2JSIgc3RvcC1jb2xvcj0iIzllY2IyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3NDkzMDMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #bfd255 0%, #8eb92a 50%, #729500 52%, #9ecb2d 76%, #749303 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bfd255), color-stop(50%,#8eb92a), color-stop(52%,#729500), color-stop(76%,#9ecb2d), color-stop(100%,#749303));
  background: -webkit-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#729500 52%,#9ecb2d 76%,#749303 100%);
  background: -o-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#729500 52%,#9ecb2d 76%,#749303 100%);
  background: -ms-linear-gradient(top,  #bfd255 0%,#8eb92a 50%,#729500 52%,#9ecb2d 76%,#749303 100%);
  background: linear-gradient(to bottom,  #bfd255 0%,#8eb92a 50%,#729500 52%,#9ecb2d 76%,#749303 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd255', endColorstr='#749303',GradientType=0 );
}

.wrapper-slideshow-flipper .progressbar.green > p {
  color: #72aa00;
}

.wrapper-slideshow-flipper .progressbar.yellow div {
  background: #feccb1;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlY2NiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2YxNzQzMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2VhNTUwNyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjczJSIgc3RvcC1jb2xvcj0iI2ZiOTU1ZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYTU1MDciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #feccb1 0%, #f17432 50%, #ea5507 51%, #fb955e 73%, #ea5507 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feccb1), color-stop(50%,#f17432), color-stop(51%,#ea5507), color-stop(73%,#fb955e), color-stop(100%,#ea5507));
  background: -webkit-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 73%,#ea5507 100%);
  background: -o-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 73%,#ea5507 100%);
  background: -ms-linear-gradient(top,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 73%,#ea5507 100%);
  background: linear-gradient(to bottom,  #feccb1 0%,#f17432 50%,#ea5507 51%,#fb955e 73%,#ea5507 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feccb1', endColorstr='#ea5507',GradientType=0 );
}

.wrapper-slideshow-flipper .progressbar.yellow > p {
  color: #ea5507;
}

.wrapper-slideshow-flipper .progressbar.red div {
  background: #f3bdbd;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2YzYmRiZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2U4NGQ1NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Y2MDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc1JSIgc3RvcC1jb2xvcj0iI2ZmNGMwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjNzAwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #f3bdbd 0%, #e84d57 50%, #f60000 51%, #ff4c00 75%, #c70000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f3bdbd), color-stop(50%,#e84d57), color-stop(51%,#f60000), color-stop(75%,#ff4c00), color-stop(100%,#c70000));
  background: -webkit-linear-gradient(top,  #f3bdbd 0%,#e84d57 50%,#f60000 51%,#ff4c00 75%,#c70000 100%);
  background: -o-linear-gradient(top,  #f3bdbd 0%,#e84d57 50%,#f60000 51%,#ff4c00 75%,#c70000 100%);
  background: -ms-linear-gradient(top,  #f3bdbd 0%,#e84d57 50%,#f60000 51%,#ff4c00 75%,#c70000 100%);
  background: linear-gradient(to bottom,  #f3bdbd 0%,#e84d57 50%,#f60000 51%,#ff4c00 75%,#c70000 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f3bdbd', endColorstr='#c70000',GradientType=0 );
}

.wrapper-slideshow-flipper .progressbar.red > p {
  color: #c72200;
}

.wrapper-slideshow-flipper .progressbar-caption {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  color: #000;
  margin-top: 5px;
}

.wrapper-slideshow-flipper .wrapper-price {
  width: 320px;
  height: 40px;
  line-height: 40px;
  float: left; 
  text-align: center;
}

.wrapper-slideshow-flipper .wrapper-price p {
  font-size: 11px;
  height: 40px;
  padding: 0;
  margin: 0;
  line-height: 20px;
}

.wrapper-slideshow-flipper .wrapper-price p span {
  display: block;
  font-size: 24px;
  padding-top: 5px;
}

.wrapper-slideshow-flipper .wrapper-price p span.green {
  color: rgb(143,200,0);
}

.wrapper-slideshow-flipper .wrapper-price p span.red {
  color: rgb(255,48,25);
}


.wrapper-slideshow-flipper .wrapper-price .block-left {
  width: 30%;
  float: left;
  padding-left: 5%;
}

.wrapper-slideshow-flipper .wrapper-price .block-center {
  width: 30%;
  float: left;
}

.wrapper-slideshow-flipper .wrapper-price .block-center span {
  display: block;
  font-size: 16px;
}

.wrapper-slideshow-flipper .wrapper-price .block-right {
  width: 30%;
  float: right;
  padding-right: 5%;
}

.wrapper-slideshow-flipper .wrapper-btn {
  width: 170px;
  height: 40px;
  line-height: 40px;
  float: right;  
}

.wrapper-slideshow-flipper .wrapper-btn a {
  font-size: 20px;
  height: 40px;
  line-height: 40px;
  padding: 0;
}

.wrapper-slideshow-flipper .wrapper-btn .orange {
  float: right;
  width: 45%;
}

.wrapper-slideshow-flipper .wrapper-btn .blue {
  float: left;
  width: 50%;
}

.fade.in {
  opacity: 1;
}

.fade {
  opacity: 0;
  -webkit-transition: opacity .15s linear;
  -moz-transition: opacity .15s linear;
  -o-transition: opacity .15s linear;
  transition: opacity .15s linear;
}

.star12 {
  background: white;
  width: 40px;
  height: 40px;
  text-align: center;
  position: relative;   
  left: 50%;
  z-index: 1;
  margin-left: -20px;
  
  -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;   

  -webkit-box-shadow:0px 1px 3px #666;
     -moz-box-shadow:0px 1px 3px #666;
          box-shadow:0px 1px 3px #666; 
}

.star12:before, .star12:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 40px;
  width: 40px;
  background: white;
  z-index: -1;

  -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;   
}
.star12:before {
  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
       -o-transform: rotate(30deg);
}
.star12:after {
  -webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
       -o-transform: rotate(60deg);
}


.star12-small {
  background: red;
  width: 36px;
  height: 32px;
  text-align: center;
  position: relative;
  top: 2px;
  left: 2px;
  z-index: 1;
  line-height: 13px;
  font-size: 12px;
  padding-top: 4px;
  color: white;
  
  -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;  

  -webkit-box-shadow:0px 1px 3px #666;
     -moz-box-shadow:0px 1px 3px #666;
          box-shadow:0px 1px 3px #666; 
}

.star12-small span {
  display: block;
  font-size: 16px;
  color: white;
}

.star12-small:before, .star12-small:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 36px;
  width: 36px;
  background: red;
  z-index: -1;

  -webkit-border-radius: 3px;
   -khtml-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;   
}
.star12-small:before {
  -webkit-transform: rotate(30deg);
     -moz-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
       -o-transform: rotate(30deg);
}
.star12-small:after {
  -webkit-transform: rotate(60deg);
     -moz-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
       -o-transform: rotate(60deg);
}
.btn { border: 1px solid #c66c2a; position: relative; z-index: 1; color: white;
          
  display: block;
  font-family: 'univers_condensedmedium';
  font-size: 16px;
  padding: 4px 10px;
  margin: 0;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;

  background: #eb6c04;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8d138), color-stop(100%, #cb5702));
  background-image: -webkit-linear-gradient(#f8d138,#cb5702);
  background-image: -moz-linear-gradient(#f8d138,#cb5702);
  background-image: -o-linear-gradient(#f8d138,#cb5702);
  background-image: linear-gradient(#f8d138,#cb5702);
  background-repeat: repeat-x;
    
  -webkit-box-shadow: 0 0 10px rgba(201,87,3,0.35);
     -moz-box-shadow: 0 0 10px rgba(201,87,3,0.35);
          box-shadow: 0 0 10px rgba(201,87,3,0.35);
          
  -webkit-border-radius: 5px;
   -khtml-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;    

  -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
       -o-transition: all 0.3s linear;
          transition: all 0.3s linear;      
}

.btn:hover {
  -webkit-box-shadow: 0 0 10px rgba(201,87,3,1);
     -moz-box-shadow: 0 0 10px rgba(201,87,3,1);
          box-shadow: 0 0 10px rgba(201,87,3,1);
                   
  background: #ff7b0d;  
}

.btn:hover:after{
  background: #ff7b0d;
}

.btn:active, .btn:focus { 
  background: #ED7200;  
}

.btn.small {
  height: 20px;
  line-height: 20px;
}

.btn.black {  
  color: white;
  background: #000000;
  border-color: #000000;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.35);
     -moz-box-shadow: 0 0 10px rgba(0,0,0,0.35);
          box-shadow: 0 0 10px rgba(0,0,0,0.35);

  -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
       -o-transition: all 0.3s linear;
          transition: all 0.3s linear;  
}

.btn.black:after {
  content: '';
  display: block;
  position: absolute;
  top: 0%;
  left: 1%;
  height: 10%;
  width: 98%;
  z-index: -1;
  -webkit-border-radius: 15px;
     -moz-border-radius: 15px;
          border-radius: 15px;
          
  background: #bdbdbd;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #bdbdbd), color-stop(100%, #4a4a4a));
  background-image: -webkit-linear-gradient(#bdbdbd,#4a4a4a);
  background-image: -moz-linear-gradient(#bdbdbd,#4a4a4a);
  background-image: -o-linear-gradient(#bdbdbd,#4a4a4a);
  background-image: linear-gradient(#bdbdbd,#4a4a4a);
  background-repeat: repeat-x;  
}

.btn.black:hover {
  background: #4a4a4a;

  -webkit-box-shadow: 0 0 10px rgba(0,0,0,1);
     -moz-box-shadow: 0 0 10px rgba(0,0,0,1);
          box-shadow: 0 0 10px rgba(0,0,0,1);  
}

.btn.black:hover:after { 
  background: #4a4a4a;
}

.btn.black:active, .btn.black:focus, .btn.black:active:after, .btn.black:focus:after {
  background: #4a4a4a;  
}

.btn.black.active, .btn.black.active:after {
  background: #333333;
}

.btn.orange {
  color: white;
  background: #eb6c04;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f8d138), color-stop(100%, #cb5702));
  background-image: -webkit-linear-gradient(#f8d138,#cb5702);
  background-image: -moz-linear-gradient(#f8d138,#cb5702);
  background-image: -o-linear-gradient(#f8d138,#cb5702);
  background-image: linear-gradient(#f8d138,#cb5702);
  background-repeat: repeat-x;
}

.btn.orange:hover {                   
  background: #cb5702;  
}

.btn.orange.active, .btn.orange:active, .btn.orange:focus { 
  background: #cb5702;  
}


.btn.blue {
  color: white;  
  border-color: #00afff;
  background: #00baff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00e7ff), color-stop(100%, #00afff));
  background-image: -webkit-linear-gradient(#00e7ff,#00afff);
  background-image: -moz-linear-gradient(#00e7ff,#00afff);
  background-image: -o-linear-gradient(#00e7ff,#00afff);
  background-image: linear-gradient(#00e7ff,#00afff);
  background-repeat: repeat-x;
    
  -webkit-box-shadow: 0 0 10px rgba(0,175,255,0.35);
     -moz-box-shadow: 0 0 10px rgba(0,175,255,0.35);
          box-shadow: 0 0 10px rgba(0,175,255,0.35);

  -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
       -o-transition: all 0.3s linear;
          transition: all 0.3s linear;           
}

.btn.blue:hover {
  -webkit-box-shadow: 0 0 10px rgba(0,175,255,1);
     -moz-box-shadow: 0 0 10px rgba(0,175,255,1);
          box-shadow: 0 0 10px rgba(0,175,255,1);
                   
  background: #00baff;  
}

.w100 {
  width: 100%;
}

.block-regenerate { width: 650px; text-align: left; }