.cptovst_xtdd1n{background-color: #FFFFFF!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{color: #009900!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{text-align: center!important;}


.cptovst_2k5t6d{background-color: #CCFFFF!important;}
.cptovst_2k5t6d *,.cptovst_2k5t6d{text-align: left!important;}


.cptovst_ifgsci *,.cptovst_ifgsci{text-align: left!important;}


.cptovst_i8o246{background-color: #CC9900!important;}
.cptovst_i8o246 *,.cptovst_i8o246{text-align: left!important;}


.cptovst_wpe3jv{background-color: #FFFF99!important;}
.cptovst_wpe3jv *,.cptovst_wpe3jv{text-align: left!important;}


.cptovst_v5norh *,.cptovst_v5norh{text-align: left!important;}






.cptovst_u1wwfu *,.cptovst_u1wwfu{color: #669999!important;}
.cptovst_u1wwfu *,.cptovst_u1wwfu{text-align: left!important;}


.cptovst_yp917w *,.cptovst_yp917w{text-align: left!important;}


.cptovst_3xyxhz *,.cptovst_3xyxhz{text-align: left!important;}


.cptovst_pmno9c *,.cptovst_pmno9c{text-align: left!important;}




.cptovst_i147ki *,.cptovst_i147ki{text-align: left!important;}




.cptovst_7gjdmx *,.cptovst_7gjdmx{text-align: left!important;}












.cptovst_pfcki3 *,.cptovst_pfcki3{text-align: left!important;}


.cptovst_vqc84z *,.cptovst_vqc84z{text-align: left!important;}






.cptovst_2v0w53 *,.cptovst_2v0w53{text-align: left!important;}












.cptovst_t2ax8j *,.cptovst_t2ax8j{text-align: left!important;}




.cptovst_npsf7a *,.cptovst_npsf7a{text-align: left!important;}


.cptovst_kee55l *,.cptovst_kee55l{text-align: left!important;}


.cptovst_y8epjw *,.cptovst_y8epjw{text-align: left!important;}








.cptovst_6sqpv6 *,.cptovst_6sqpv6{text-align: left!important;}






.cptovst_3p43a4 *,.cptovst_3p43a4{text-align: left!important;}


.cptovst_dltpzp *,.cptovst_dltpzp{text-align: left!important;}




.cptovst_9xndkc *,.cptovst_9xndkc{text-align: left!important;}


.cptovst_ev8v0l *,.cptovst_ev8v0l{text-align: left!important;}


.cptovst_e0lqzo *,.cptovst_e0lqzo{text-align: left!important;}


















.cptovst_814qc2 *,.cptovst_814qc2{text-align: left!important;}


.cptovst_shbxt4 *,.cptovst_shbxt4{text-align: left!important;}




