.cptovst_xtdd1n{background-color: #FFFFFF!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{color: #009900!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{text-align: center!important;}


.cptovst_2k5t6d{background-color: #CCFFFF!important;}
.cptovst_2k5t6d *,.cptovst_2k5t6d{text-align: left!important;}


.cptovst_ifgsci *,.cptovst_ifgsci{text-align: left!important;}


.cptovst_i8o246{background-color: #CC9900!important;}
.cptovst_i8o246 *,.cptovst_i8o246{text-align: left!important;}


.cptovst_wpe3jv{background-color: #FFFF99!important;}
.cptovst_wpe3jv *,.cptovst_wpe3jv{text-align: left!important;}


.cptovst_v5norh *,.cptovst_v5norh{text-align: left!important;}






.cptovst_u1wwfu *,.cptovst_u1wwfu{color: #669999!important;}
.cptovst_u1wwfu *,.cptovst_u1wwfu{text-align: left!important;}


.cptovst_yp917w *,.cptovst_yp917w{text-align: left!important;}


.cptovst_0b97ga *,.cptovst_0b97ga{text-align: left!important;}








.cptovst_jq4vo6 *,.cptovst_jq4vo6{text-align: left!important;}




.cptovst_ur8yh7 *,.cptovst_ur8yh7{text-align: center!important;}


.cptovst_tea5as{background-color: #FFFF99!important;}
.cptovst_tea5as{border-color: #FFFF00!important; border-style:solid;}
.cptovst_tea5as *,.cptovst_tea5as{color: #0000FF!important;}
.cptovst_tea5as *,.cptovst_tea5as{text-align: left!important;}


.cptovst_ewqv6x *,.cptovst_ewqv6x{text-align: left!important;}


.cptovst_nc6kyz *,.cptovst_nc6kyz{text-align: left!important;}






.cptovst_iinbra *,.cptovst_iinbra{text-align: left!important;}


.cptovst_ozwps7 *,.cptovst_ozwps7{text-align: left!important;}




.cptovst_zwjfd0 *,.cptovst_zwjfd0{text-align: left!important;}


.cptovst_g4cxor *,.cptovst_g4cxor{text-align: left!important;}


.cptovst_47h4qa *,.cptovst_47h4qa{text-align: left!important;}




.cptovst_wyvt7q *,.cptovst_wyvt7q{text-align: left!important;}




.cptovst_zikb9o *,.cptovst_zikb9o{text-align: left!important;}


.cptovst_vg6a7y *,.cptovst_vg6a7y{text-align: left!important;}


.cptovst_clvdja *,.cptovst_clvdja{text-align: left!important;}






.cptovst_c0ztcx *,.cptovst_c0ztcx{text-align: left!important;}














