.cptovst_xtdd1n{background-color: #FFFFFF!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{color: #009900!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{text-align: center!important;}


.cptovst_2k5t6d{background-color: #CCFFFF!important;}
.cptovst_2k5t6d *,.cptovst_2k5t6d{text-align: left!important;}


.cptovst_ifgsci *,.cptovst_ifgsci{text-align: left!important;}


.cptovst_i8o246{background-color: #CC9900!important;}
.cptovst_i8o246 *,.cptovst_i8o246{text-align: left!important;}


.cptovst_wpe3jv{background-color: #FFFF99!important;}
.cptovst_wpe3jv *,.cptovst_wpe3jv{text-align: left!important;}


.cptovst_v5norh *,.cptovst_v5norh{text-align: left!important;}






.cptovst_u1wwfu *,.cptovst_u1wwfu{color: #669999!important;}
.cptovst_u1wwfu *,.cptovst_u1wwfu{text-align: left!important;}


.cptovst_yp917w *,.cptovst_yp917w{text-align: left!important;}


.cptovst_3xyxhz *,.cptovst_3xyxhz{text-align: left!important;}




.cptovst_7gjdmx *,.cptovst_7gjdmx{text-align: left!important;}






.cptovst_a78mq9 *,.cptovst_a78mq9{text-align: left!important;}










.cptovst_jzld4b *,.cptovst_jzld4b{text-align: left!important;}








.cptovst_54s1fq *,.cptovst_54s1fq{text-align: left!important;}




.cptovst_4n62xf *,.cptovst_4n62xf{text-align: left!important;}




.cptovst_2kc7y3 *,.cptovst_2kc7y3{text-align: left!important;}


.cptovst_ble871 *,.cptovst_ble871{text-align: left!important;}


.cptovst_vv7v7s *,.cptovst_vv7v7s{text-align: left!important;}


.cptovst_95wny8 *,.cptovst_95wny8{text-align: left!important;}


.cptovst_si9qmm *,.cptovst_si9qmm{text-align: left!important;}


.cptovst_46carx *,.cptovst_46carx{text-align: left!important;}






.cptovst_ohhiqc *,.cptovst_ohhiqc{text-align: left!important;}


.cptovst_9cg94r *,.cptovst_9cg94r{color: #33FF00!important;}
.cptovst_9cg94r *,.cptovst_9cg94r{text-align: left!important;}


.cptovst_jjbv3x *,.cptovst_jjbv3x{text-align: left!important;}


.cptovst_5q5nnq *,.cptovst_5q5nnq{text-align: left!important;}


