.cptovst_xtdd1n{background-color: #FFFFFF!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{color: #009900!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{text-align: center!important;}


.cptovst_2k5t6d{background-color: #CCFFFF!important;}
.cptovst_2k5t6d *,.cptovst_2k5t6d{text-align: left!important;}


.cptovst_ifgsci *,.cptovst_ifgsci{text-align: left!important;}


.cptovst_i8o246{background-color: #CC9900!important;}
.cptovst_i8o246 *,.cptovst_i8o246{text-align: left!important;}


.cptovst_wpe3jv{background-color: #FFFF99!important;}
.cptovst_wpe3jv *,.cptovst_wpe3jv{text-align: left!important;}


.cptovst_v5norh *,.cptovst_v5norh{text-align: left!important;}






.cptovst_u1wwfu *,.cptovst_u1wwfu{color: #669999!important;}
.cptovst_u1wwfu *,.cptovst_u1wwfu{text-align: left!important;}


.cptovst_yp917w *,.cptovst_yp917w{text-align: left!important;}


.cptovst_0b97ga *,.cptovst_0b97ga{text-align: left!important;}








.cptovst_jq4vo6 *,.cptovst_jq4vo6{text-align: left!important;}




.cptovst_ze0lho *,.cptovst_ze0lho{text-align: left!important;}


.cptovst_o9e8yy *,.cptovst_o9e8yy{text-align: left!important;}


.cptovst_rr0inn *,.cptovst_rr0inn{text-align: left!important;}








.cptovst_xyr39w *,.cptovst_xyr39w{text-align: left!important;}




.cptovst_vg6a7y *,.cptovst_vg6a7y{text-align: left!important;}


.cptovst_q9s4m2{background-color: #6633CC!important;}
.cptovst_q9s4m2{border-color: #FF9933!important; border-style:solid;}
.cptovst_q9s4m2 *,.cptovst_q9s4m2{color: #000099!important;}
.cptovst_q9s4m2 *,.cptovst_q9s4m2{text-align: center!important;}
.cptovst_q9s4m2 * a,.cptovst_q9s4m2 a{color: #FFCC00!important;}








