.cptovst_xtdd1n{background-color: #FFFFFF!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{color: #009900!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{text-align: center!important;}


.cptovst_2k5t6d{background-color: #CCFFFF!important;}
.cptovst_2k5t6d *,.cptovst_2k5t6d{text-align: left!important;}


.cptovst_ifgsci *,.cptovst_ifgsci{text-align: left!important;}


.cptovst_i8o246{background-color: #CC9900!important;}
.cptovst_i8o246 *,.cptovst_i8o246{text-align: left!important;}


.cptovst_wpe3jv{background-color: #FFFF99!important;}
.cptovst_wpe3jv *,.cptovst_wpe3jv{text-align: left!important;}


.cptovst_v5norh *,.cptovst_v5norh{text-align: left!important;}






.cptovst_u1wwfu *,.cptovst_u1wwfu{color: #669999!important;}
.cptovst_u1wwfu *,.cptovst_u1wwfu{text-align: left!important;}


.cptovst_yp917w *,.cptovst_yp917w{text-align: left!important;}




.cptovst_gw7q1j *,.cptovst_gw7q1j{text-align: left!important;}


.cptovst_xqa3nz *,.cptovst_xqa3nz{text-align: left!important;}




.cptovst_wemqgn *,.cptovst_wemqgn{text-align: left!important;}




.cptovst_qsve9u *,.cptovst_qsve9u{text-align: left!important;}








.cptovst_d6s3bd *,.cptovst_d6s3bd{text-align: left!important;}


.cptovst_fdd3y7 *,.cptovst_fdd3y7{text-align: left!important;}








.cptovst_10oakv *,.cptovst_10oakv{text-align: left!important;}


.cptovst_3n9r85 *,.cptovst_3n9r85{text-align: left!important;}


.cptovst_3cie9l *,.cptovst_3cie9l{text-align: left!important;}


.cptovst_egvpyk *,.cptovst_egvpyk{text-align: left!important;}


.cptovst_jqxb2r *,.cptovst_jqxb2r{text-align: left!important;}


.cptovst_xdrz8z{background-color: #CCFFFF!important;}
.cptovst_xdrz8z *,.cptovst_xdrz8z{text-align: left!important;}
.cptovst_xdrz8z{padding: 22px!important;}




.cptovst_79y1pa{background-color: #CCFFFF!important;}
.cptovst_79y1pa{border-color: #9999FF!important; border-style:solid;}
.cptovst_79y1pa{border-width: 8px!important;}
.cptovst_79y1pa *,.cptovst_79y1pa{color: #000099!important;}
.cptovst_79y1pa *,.cptovst_79y1pa{text-align: left!important;}


