<div class='Label'><? $widgetStrings.sparam_name_label ?>:</div>
<input name="name" type='text' class='Text' value='<? $params.name ?>'>

<div class='Label'><? $widgetStrings.sparam_email_label ?>:</div> 
<input id='C_EMAILADDRESS' name="C_EMAILADDRESS" type='text' class='Text' value='<? $params.C_EMAILADDRESS ?>'>

<? if $hasPhotoField ?>
	<div class='Label'><? $widgetStrings.sparam_photo_label ?>:</div>
	<? include fieldName="C_X_PHOTO" file="fields/fimage.htm" ?>
<? /if ?>