<script language="JavaScript">
{literal}
window.alert = function() { return false; };
{/literal}
</script>
<script language="JavaScript" src="http://maps.google.com/maps?file=api&amp;v=2.x&amp;key={$gmapi_key}"></script>
<script language="JavaScript">
{literal}
window.onload = function() {
    top.document.getElementById('sc_frame').contentWindow.handleGMAPIKeyChecker(!G_INCOMPAT);
};
{/literal}
</script>