<? strip ?>
<form action="<? $formLink ?>" method="post" enctype="multipart/form-data" name="cform">
	<? assign var="invalidFieldMarkup" value="<span style='color: #FF0000'>" ?>
<h2 class="page-title"><a href="setup.php?section=sms"><? $waStrings.smscp_page_name ?></a> &raquo; <? $waStrings.smsm_page_title ?></h2>
				<br/>

			<table border="0" cellpadding="0" cellspacing="0" width=100%>
			<tr>
			<td>
				<? if $errorStr ?>
				<table cellspacing="0" cellpadding="0" border="0">
					<tr>
						<td width="1">&nbsp;</td>
						<td>
							<? $invalidFieldMarkup ?>
							<? $errorStr|nl2br ?>
						</td>
					</tr>
					<tr>
						<td colspan=2>&nbsp;</td>
					</tr>
				</table>
				<? /if ?>

				<? if !$fatalError ?>
				<table border="0" cellpadding="0" cellspacing="0">
					<tr>
						<td class="pageHeader">
							<? $moduleInfo.MODULE ?>
						</td>
					</tr>
				</table>
				<? /if ?>

		<? if !$fatalError ?>

	<br>
	<? if $action == "install" ?>
		<? $waStrings.sms_warning ?>
	<? else ?>
		<? $waStrings.sms_query_disable ?>
	<? /if ?>

	<br><br>
	<table cellspacing=0 cellpadding=5>
	<tr>
	<td><b><? $waStrings.sms_class ?> : </b></td>
	<td><? $moduleInfo.CLASS ?></td>
	</tr>
	<tr>
	<td><b><? $waStrings.sms_mod_id ?> : </b></td>
	<td><? $moduleInfo.MODULE ?> </td>
	</tr>
	<tr>
	<td><b><? $waStrings.sms_description ?> : </b></td>
	<td><? $moduleInfo.DESCR ?> </td>
	</tr>
	</table>

	<br><br>

	<? if $action == "install" ?>
		<input type=submit name="installbtn" value="<? $waStrings.btn_enable_now ?>" >
	<? else ?>
		<input type=submit name="uninstallbtn" value="<? $waStrings.btn_disable ?>" >
	<? /if ?>

	<? else ?>
	<? /if ?>

	&nbsp;&nbsp;&nbsp;<input type=submit name="cancelbtn" value="<? $waStrings.btn_cancel ?>" >

<input name="id" type="hidden" id="id" value="<? $id ?>">
<input name="class" type="hidden" id="class" value="<? $currentClass ?>">
<input name="edited" type="hidden" id="edited" value="1">
<input name="action" type="hidden" id="edited" value="<? $action ?>">

<input type="hidden" name="btndummy">

		</p>
		</td>
		</tr>
		</table>
	<input name="hostData[DBSETTINGS][IP_ADDRESS]" type="hidden" value="">
	</form>
<? /strip ?>