<? strip ?>
<form action="<? $formLink ?>" method="post"
enctype="multipart/form-data" name="cform"> <? assign var="invalidFieldMarkup" value="<span style='color: #FF0000'>" ?>
<h2 class="page-title"><? $waStrings.smscp_page_name ?></h2>
<br />

<? if $errorStr ?><p><? $errorStr|nl2br ?></p><? /if ?>
<? if !$fatalError ?>
<table border="0" cellspacing="1" cellpadding=2 class="list" width=100%>
	<tr style="background-color: #eee;">
		<td align="left" width=20%><b><? $waStrings.sms_mod_id ?></b></td>
		<td align="left" width=50%><b><? $waStrings.sms_description ?></b></td>
		<td align="left" width=20%><b><? $waStrings.sms_status ?></b></td>
		<td align="left" width=10%>&nbsp;</td>
	</tr>

	<? foreach from=$modulesList.MODULES item=data key=id name=curLoop ?>

	<tr  class="list-item <?cycle values="background1,background2"?><? if $data.INSTALLED != 1 ?> disabled<? /if ?>" >
		<td valign="middle" class="default"><? $id ?></td>
		<td valign="middle" class="default"><? $data.MODULE.NAME ?></td>
		<td>
			<? if $data.INSTALLED == 1 ?>
				<? $waStrings.sms_enabled ?>
			<? else ?>
				<i><? $waStrings.sms_disabled ?></i>
			<? /if ?>
		</td>
		<td align=center>
			<? if $data.INSTALLED == 1 ?>
				<a href="<? $data.MODULE.MODIFY_URL ?>"><? $waStrings.sms_modify ?></a>
			<? else ?>
				<a href="<? $data.MODULE.INSTALL_URL ?>"><? $waStrings.sms_modify ?></a>
			<? /if ?>
		</td>
	</tr>
	<? foreachelse ?>
	<tr align="center">	
		<td colspan="2" class="default"><? $kernelStrings.ul_norecords_text ?></td>
	</tr>
	<? /foreach ?>
</table>

<br />
<? /if ?>

<p><input name="edited" type="hidden" id="edited" value="1" /> <input
	type="hidden" name="btndummy" /></p>
<input name="hostData[DBSETTINGS][IP_ADDRESS]" type="hidden" value="" />
</form>
<? /strip ?>
