<title>{$page_title|default:$smarty.const.CONF_DEFAULT_TITLE|escape:'html'}</title>
{$page_meta_tags}

<script type="text/javascript" src="{$smarty.const.URL_JS}/libs/jquery-1.8.3.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_JS}/libs/jquery.cookie.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_JS}/libs/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_JS}/libs/highslide/highslide-full.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_JS}/libs/handlebars-v1.3.0.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_JS}/libs/typeahead.bundle.min.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_JS}/libs/jquery.fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="{$smarty.const.URL_JS}/libs/jquery.fancybox/jquery.mousewheel-3.0.6.pack.js"></script>

<script type="text/javascript" src="{$smarty.const.URL_JS}/script.js"></script>

<link rel="stylesheet" href="{$smarty.const.URL_JS}/libs/jquery-ui/jquery-ui.min.css">
<link rel="stylesheet" href="{$smarty.const.URL_JS}/libs/jquery.fancybox/jquery.fancybox.css" type="text/css">
<link rel="stylesheet" href="{$smarty.const.URL_JS}/libs/highslide/highslide.css" type="text/css" />
<link rel="stylesheet" href="{$smarty.const.URL_CSS}/font-awesome.min.css" type="text/css">

<script type="text/javascript">
  hs.graphicsDir = '{$smarty.const.URL_JS}/libs/highslide/graphics/';
  hs.registerOverlay(
    {ldelim}
  thumbnailId: null,
    overlayId: 'controlbar',
    position: 'top right',
    hideOnMouseOut: true
  {rdelim}
  );
  hs.outlineType = 'rounded-white';
</script>

