  <script type="text/javascript" src="{$smarty.const.URL_JS}/libs/jquery.swiper/idangerous.swiper.js"></script>
  <link rel="stylesheet" href="{$smarty.const.URL_JS}/libs/jquery.swiper/idangerous.swiper.css" type="text/css">
  
{if $action.id}
  
  <script type="text/javascript" src="{$smarty.const.URL_JS}/libs/jquery.timeto/jquery.timeTo.min.js"></script>
  <link rel="stylesheet" href="{$smarty.const.URL_JS}/libs/jquery.timeto/timeTo.css" type="text/css">
  
  {if $images}
    <div class="wrapper-slideshow-flipper">
      <form class="product-form" action='{"?ukey=cart`$_form_action_url`"|set_query_html}' method="post" rel="{$product.productID}">
        <div class="slideshow-flipper fade in hide">
          <!--<a class="prev-slide arrow" href="#"><i class="fa fa-chevron-left"></i></a>
          <a class="next-slide arrow" href="#"><i class="fa fa-chevron-right"></i></a>-->
          <div class="swiper-container">
            <div class="swiper-wrapper">
            {section loop=$images name=i}
              <div class="swiper-slide">
                <img src="{$URL_SLIDERS}/{$images[i].enlarged|escape:'url'}" class="product-image" />          
              </div>
            {/section}        
            </div>
          </div>
          
          <div class="pagination"></div>
          
        </div>
        
        <div class="info-block">
          <div class="in-info-block clearfix"> 
            <div class="wrapper-countdown">
              <div class="countdown"></div>
            </div>
            {assign var=v value=$action.num_pr_rest/$action.num_pr_all*100}
            {if $v <= 20}
              {assign var=progres_class value='red'}
            {elseif $v <= 60}
              {assign var=progres_class value='yellow'}
            {else}
              {assign var=progres_class value='green'}
            {/if}
            
            <div class="wrapper-progressbar">
              <div class="progressbar {$progres_class}">
                <p>Осталось {$v|string_format:"%.0f"}% товаров</p>
                <div style="width: {$v|string_format:"%.0f"}%;"><p>Осталось {$v|string_format:"%.0f"}% товаров</p></div>
              </div>
            </div>
            <div class="wrapper-price">
              {assign var=s value=$product.list_price-$product.Price}
              {assign var=p value=$s/$product.list_price*100}
              <div class="block-left">
                <p><span class="red"><strike><strong>{$product.list_price}</strong></strike></span>Цена обычная</p>
              </div>
              <div class="block-center">
                <div class="star12"><div class="star12-small">скидка<span>{$p|string_format:"%.0f"}%</span></div></div>
              </div>
              <div class="block-right">
                <p><span class="green"><strong>{$product.Price}</strong></span>Цена по акции</p>
              </div>
            </div>
            <div class="wrapper-btn">   
              {if $product.slug}
                {assign var=_product_url value="?ukey=product&productID=`$product.productID`&product_slug=`$product.slug`"|set_query_html}
              {else}
                {assign var=_product_url value="?ukey=product&productID=`$product.productID`"|set_query_html}
              {/if}      
              
              <input name="action" value="add_product" type="hidden" />
              <input name="productID" value="{$product.productID}" type="hidden" />
              <input class="product_price" value="{$product.PriceWithOutUnit|escape:'html'}" type="hidden" />
              <input name="open_cart" id="open_cart" value="1" type="hidden" />
              <input type="submit" class="add2cart_handler hide-important" rel="" alt="Добавить в корзину" value="Добавить в корзину" id="add2cart">
              
              <a href="{$_product_url}" class="btn blue">Подробнее</a>
              <a href="#" class="btn orange " onclick="$('#add2cart').click(); return false;">Купить!</a>
              
            </div>
          </div>  
        </div>
      </form>
    </div> 
  {/if}
  
  {literal}    
    <script type="text/javascript">
      
      $(function(){
       
        $('.countdown').timeTo({
          timeTo: new Date(new Date("{/literal}{$action.date_end}{literal}")),
          displayDays: 2,
          displayCaptions: true,
          fontSize: 21,
          captionSize: 11,
          lang: 'ru'
        });
        
      })
      
      </script>
  {/literal}
    
{else}

{if $images_home}
  <div class="wrapper-slideshow-flipper">
     
    <div class="slideshow-flipper fade in hide">
      <!--<a class="prev-slide arrow" href="#"><i class="fa fa-chevron-left"></i></a>
      <a class="next-slide arrow" href="#"><i class="fa fa-chevron-right"></i></a>-->
      <div class="swiper-container">
        <div class="swiper-wrapper">
        {section loop=$images_home name=i}
          <div class="swiper-slide">
            <img src="{$URL_SLIDERS}/{$images_home[i].enlarged|escape:'url'}" />          
          </div>
        {/section}        
        </div>
      </div>
      
      <div class="pagination"></div>
      
    </div>
</div>
{/if}
      
{cpt_product_lists list_id='specialoffers' block_height='' overridestyle=':jv8h32'}
<!-- cpt_container_end -->

{/if}

  {literal}    
    <script type="text/javascript">
      
      $(function(){
        var slideshowFlipper = new Swiper('.swiper-container',{
          pagination: '.pagination',
          mode: 'horizontal',     
          grabCursor: true,
          paginationClickable: true,
          calculateHeight: true,
          resizeReInit: true,     
          autoplay: 2000,    
          loop: true,
          speed: 700
        })
        $('.prev-slide').on('click', function(e) {
          e.preventDefault();
          slideshowFlipper.swipePrev();
          slideshowFlipper.startAutoplay();
        });
        
        $('.next-slide').on('click', function(e) {
          e.preventDefault();
          slideshowFlipper.swipeNext();
          slideshowFlipper.startAutoplay();
        });

                
        $('.slideshow-flipper').fadeIn();
      })
      
      $('.all_wrapper').css({'background': 'none'});
      
      </script>
  {/literal}
