<div class="all_wrapper" id="top">
	
	<div id="cpt_login"><h1>Вход</h1>
  	<form action="/auth/" method="post">
  	  <div class="form_wrapper">
      	<div class="marg-bottom">
          <input name="enter" value="1" type="hidden">
      	  <input type="text" name="user_login" id="ln_user_login" value="" size="40" placeholder="Логин">
      	</div>
      	<div class="marg-bottom">
		      <input name="user_pw" type="password" value="" size="40" placeholder="Пароль">
	      </div>

		    <div class="marg-bottom text-center">
			    <label><input type="checkbox" name="remember" value="1" /> запомнить</label>
		    </div>

      	<div class="marg-bottom">
		      <input type="submit" value="Войти" class="btn blue large">
	      </div>

		    <div>
			    <a rel="nofollow" href="/register/">Зарегистрироваться</a>
		    </div>
    	</div>
  	</form>
	</div>
	
	<div class="social">
		<a target="_blank" href="http://vk.com/teslocom_ru" class="vk">VK.com</a>
		<a target="_blank" href="http://facebook.com/teslocom" class="fb">Facebook</a>
		<a target="_blank" href="http://twitter.com/teslocom" class="tw">Twitter</a>
	</div>
	
	{if $is_partner}
	 <div class="block-partner-icons">
	   <ul>
	     <li><a href="/myaccount" title="Личный кабинет"><i class="fa fa-user"></i>{if $choose_p}<span class="right">{$choose_p.first_name} {$choose_p.last_name}</span>{/if}{if $pt == 2}<span class="right">Фили</span>{/if}</a></li>
	     <li><a href="/inflow" title="Поступление товаров"><i class="fa fa-truck"></i>{if $quantity_new_inflow}<span>{$quantity_new_inflow}</span>{/if}</a></li>
	     <li><a href="#" title="Написать сообщение" id="show-partner-chat"><i class="fa fa-comments"></i></a></li>
	   </ul>
	 </div>
	{/if}


	<div class="wrapper-block-header">
		<div class="block-header">
			<div class="block-top">
				<div class="clearfix">
					<div class="block-logo">
						<a href="/">Teslocom</a>
					</div>
					<div class="block-phone">
						<i class="fa fa-phone"></i>
						<ul>
							<li>+7 <span>(495)</span> 363-25-49</li>
              <!--<li>+7 <span>(495)</span> 786-80-13</li>-->
							<li>+7 <span>(929)</span> 578-76-59</li>
						</ul>
					</div>
					<div class="block-search">
						{cpt_product_search}
					</div>
					<div class="block-cart">
						{cpt_shopping_cart_info}
					</div>
				</div>
			</div>

			<div class="block-bottom">
				<ul class="clearfix">
					<li class="item-time">Ежедневно с 10:00 до 20:00</li>
					<li class="item-login">
						{if $log ne "" && !$CPT_CONSTRUCTOR_MODE}
							<a rel="nofollow" href="{'?ukey=logout'|set_query_html}">Выход</a>
						{else}
							<a class="various" href="#cpt_login">Вход</a>
						{/if}
					</li>
					<li class="clearfix">
						{cpt_auxpages_navigation select_pages='selected' auxpages='1:16:9:14:11:18:19:13' view='horizontal'}
					</li>
					<li class="more wrap-popover">
						<a href="#" class="popover-btn" data-popover=".more-popover">Ещё <i class="fa fa-caret-down"></i></a>
						{cpt_auxpages_navigation select_pages='unselected' auxpages='1:16:9:14:11:18:19:13:20:21:22' view='vertical' class='popover more-popover'}
					</li>
				</ul>
			</div>
		</div>
	</div>

  {cpt_root_categories show_sub_category='enable_sub_category' subcategories_numberlimit='' categories_numberlimit='7'}
  
  <div class="shp_bodyshd_r">
    <!-- cpt_container_start -->{cpt_maincontent overridestyle=':c5brd5'}<!-- cpt_container_end -->
  </div>
  
  <div class="cdop">
  	<div class="c01"><h1>ОТЗЫВЫ ПОКУПАТЕЛЕЙ</h1>{cpt_news_short_list news_num='5' overridestyle=''}</div>
  	<div class="c02"><h1>ОПТОВИКАМ</h1>
  	  <div class="cpt_news_short_list">Формируем дилерскую сеть по России, предлагаем выгодные условия для сотрудничества.<br />
        По всем вопросам относительно сотрудничества, вы можете обращаться на e-mail: <a href="mailto:teslocom@mail.ru" rel="nofollow">teslocom@mail.ru</a><br /><br />
        <strong>Менеджер по работе с оптовыми покупателями:</strong><br />
        +7 (495) 786-80-13<br />
        +7 (965) 208-59-90<br /><br />
        <strong>Сайт для оптовых покупателей:</strong> <a href="http://optnb.ru/" rel="nofollow" target="_blank">optnb.ru</a>
      </div>
    </div>
  
  	<div class="c03">
  	 {cpt_rss_reader count='4' url='' date_format='d.m.y'}
  	</div>
  </div>

  <div class="bdop">
  	<!--<div class="b01"><embed height="180" flashvars="" pluginspage="http://www.adobe.com/go/getflashplayer" src="/swf/topon_diler.swf" type="application/x-shockwave-flash" width="160" wmode="opaque"></div>-->
	  <div class="b01"><img src="/i/warranty.jpg" alt="warranty" width="160" /></div>
  	<div class="b02"><embed height="215" flashvars="" pluginspage="http://www.adobe.com/go/getflashplayer" src="/i/swf/banner_215x215b.swf" type="application/x-shockwave-flash" width="215" wmode="opaque"></div>
  	<div class="b03"><a href="http://teslocom.com/"><img src="/i/b03.jpg" alt="Перейти на блог" title="Перейти на блог" width="225" height="147" longdesc="http://teslocom.com/"></a></div>
  	<div class="b04"><a href="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2508/*http://grade.market.yandex.ru/?id=37479&amp;action=link"><img src="http://clck.yandex.ru/redir/dtype=stred/pid=47/cid=2507/*http://grade.market.yandex.ru/?id=37479&amp;action=image&amp;size=3" border="0" width="200" height="125" alt="Читайте отзывы покупателей и оценивайте качество магазина на Яндекс.Маркете"></a></div>
  </div>
  
  <div class="shp_copyright">2014 © Teslocom
    <script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
    <div class="yashare-auto-init" data-yashareL10n="ru" data-yashareType="button" data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir,lj"></div> 

    <!-- Yandex.Metrika informer -->
    <a href="http://metrika.yandex.ru/stat/?id=1346285&amp;from=informer" target="_blank" rel="nofollow" style="position: absolute; top: 10px; left: 410px;"><img src="//bs.yandex.ru/informer/1346285/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this, id:1346285, lang:'ru'}); return false} catch(e){}"/></a>
    <!-- /Yandex.Metrika informer -->

    <a href="http://www.crear.ru" class="crear">Компания - Crear</a>
  </div>
  
  <a href="#top" class="top scroll-to" id="scroller">наверх</a>
</div>

{literal}
  <!-- Yandex.Metrika counter -->
  <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
  <script type="text/javascript">
  try { var yaCounter1346285 = new Ya.Metrika({id:1346285,
      webvisor:true,
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true});
  } catch(e) { }
  </script>
  <noscript><div><img src="//mc.yandex.ru/watch/1346285" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
  <!-- /Yandex.Metrika counter -->

  <script type="text/javascript">
  {/literal}
    {if $is_partner}
  {literal}

    (function(){
      var widget_id = '109121';
      var s = document.createElement('script');
          s.type = 'text/javascript';
          s.async = true;
          s.src = '//code.jivosite.com/script/widget/'+widget_id;
      var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);
    })();

  {/literal}
    {else}
  {literal}

    var liveTex = true,
      liveTexID = 28736,
      liveTex_object = true;
    (function() {
      var lt = document.createElement('script');
      lt.type ='text/javascript';
      lt.async = true;
          lt.src = 'http://cs15.livetex.ru/js/client.js';
      var sc = document.getElementsByTagName('script')[0];
      if ( sc ) sc.parentNode.insertBefore(lt, sc);
      else  document.documentElement.firstChild.appendChild(lt);
    })();

  {/literal}
    {/if}
  {literal}
  </script>

{/literal}

