body {
	font-family:'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
	font-size: 10pt;
	margin:0;
	padding:0;
	background-color: white;
}
.bookTitle {
	font-size:20pt!important;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h3, h4, h5, h6 {
	font-weight: bold;
	color:#004664;
}
h1, h2 {
	font-family:'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;
}
h1 {
	font-size:16pt;
	color:#595959;
}
h2 {
	font-size:17pt;
	color:#006e9d;
	margin:10px 0 10px 20px;
	padding:0;
}
h3 {
	padding: 0px;
	font-size: 13pt;
	margin:10px 0 8px 50px;
}
h4 {
	margin-left:6%;
}
h5 {
	margin-left:10%
}
h6 {
	margin-left:20%
}
blockquote {
	background:#f2f9ff url(../../../common/html/classic/images/info.gif) 20px center no-repeat;
	padding: 10px 20px 10px 30px;
	margin:20px 60px 20px 100px;
}
p, div {
	font-size: 10pt;
}
p {
	padding:0;
	margin:12px 0 12px 50px;
	text-align:justify;
	line-height:125%;
}
p img { margin:0 0 10px 0;}
td, th {
	font-size: 10pt;
}
em {
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	color: red;
}
code span {
	padding-left: 20px;
	font-size: 10pt;
}
pre {
	margin-left: 10%;
	text-align:left;
	font-size: 10pt;
	background-color: #EEEEEE;
	padding: 10px;
	padding-left: 0px;
}
code {
	display: block;
	font-size: 10pt;
	background-color: #EEEEEE;
	padding: 10px;
}
a {
	color:#003366;
	text-decoration: none;
}
a:visited {
	color:#1b4066;
}
.pageheader {
	color: #CCCCCC;
	font-weight: normal;
	font-family: 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;;
	font-size: 14pt;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-top-color: #CCCCCC;
	border-right-color: #CCCCCC;
	border-bottom-color: #CCCCCC;
	border-left-color: #CCCCCC;
}
.smallFont {
	font-family: Verdana, sans-serif;
	font-size: 8pt;
	margin-left:15px;
	margin-right:15px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: white;
}
ul, ol {
	margin:0 0 0 70px;
	padding:0;
}
.bodyTable {
	margin-left: 30px;
	font-family: Arial, sans-serif;
	font-size: 10pt;
}
.appScreensHeader {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	color: #004664;
	font-weight: bold;
	vertical-align: middle;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;
	padding-bottom: 5px;
	background-color: whitesmoke;
	padding-right: 2px;
	padding-left: 2px;
}
.appScreen {
	font-family: Verdana, sans-serif, Arial, Helvetica;
	font-size: 10pt;
	padding-left: 10px;
	padding-top: 5px;
}
.appScreenName {
	top: 5px;
	padding-top: 5px;
	white-space: nowrap;
	color: #004664;
	font-weight: bold;
}
ul li {
	list-style:none;
	font-size: 10pt;
}
ul.bulleted li {
	background:url(../../../common/html/classic/images/ul.gif) left 6px no-repeat;
	padding-left:10px;
}
ol li {
	list-style-image: url(i/ul.gif);
	font-size: 10pt;
}
ol li ul { margin:12px 0 15px 20px;}
.toclink {
	padding-bottom: 5px;
}
ul.treeCatalogRow {
	width:98%;
	margin:0 1%;
	display:block;
	padding-left:40px;
}
ul.treeCatalogRow li {
	list-style: none;
	padding-left:0;
	margin-left:0;
	margin:0px 0px 0px 10px;
}
ul.treeCatalogRow li ul {
	padding-left:0px;
}
ul.treeCatalogRow li a {
	font-size:10pt;
	line-height:135%;
}
ul.treeCatalogRow li a:hover {
	text-decoration:underline;
}
.tocHdr {
	font-size:14pt;
	font-family:'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;;
	color:#004664;
	font-weight:normal;
	color:#666;
	font-size:14pt;
	width:98%;
	margin:10px 1%;
	display:block;
	padding-left:50px;
}
.bookName {
	font-family : 'Trebuchet MS', 'Lucida Grande', Verdana, Arial, Sans-Serif;;
	color: #004664;
	font-weight: normal;
	font-size: 21pt;
	width:98%;
	margin:0 1%;
	display:block;
	margin:20px 20px 10px 20px;
	
}
p.tocLink {
	text-align:right;
	padding:0;
	margin:0 10px 10px 0;
}
p.tocLink a, p.tocLink a:visited {
	color:#003366;
}
p.tocLink a:hover {
	color:#0066CC;
}

p.tocLink a {
	background:url(../../../common/html/classic/images/mini_arr_up.gif) left 6px no-repeat;
	padding-left:10px;
}
.samplecode { background:#f0f0f0; padding: 10px 20px 10px 20px;margin:20px 60px 20px 100px;}