<div class="wrapper-form w100">

  <form action="{''|set_query_html}" method="post" name="MainForm" id="additinal-prefix-form" target="_self">
    <h1>Управление префиксом</h1>

    {$MessageBlock}

    {$errors}

    <div class="success_block hide" id="progress_regenerate">
      <span class="success_message"></span>
    </div>

    <div class="row" style="padding: 10px;">
      <input type="text" name="prefix" value="{$prefix}" placeholder="Текст.." style="width: 100%;">
    </div>

    <div class="row text-center">
      <input type="hidden" name="cid" value="{$cid}"/>
      <input type="hidden" name="action" value="save_prefix"/>
      <input type="submit" name="action_submit" value="Сохранить" />
    </div>

  </form>

</div>
