<div class="wrapper-form w100">

  <form action="{''|set_query_html}" method="post" name="MainForm" id="additinal-sufix-form" target="_self">
    <h1>Управление суфиксом</h1>

    {$MessageBlock}

    {$errors}

    <div class="success_block hide" id="progress_regenerate">
      <span class="success_message"></span>
    </div>

    <div class="row" style="padding: 10px;">
     <textarea name="sufix" style="width: 100%;">{$sufix}</textarea>
      <span>Характеристики через запятую.</span>
    </div>

   <div class="row text-center">
     <input type="hidden" name="cid" value="{$cid}"/>
     <input type="hidden" name="action" value="save_sufix"/>
     <input type="submit" name="action_submit" value="Сохранить" />
   </div>

  </form>

</div>