<h1>Модуль расширения продукции.</h1>

{$MessageBlock}

{$errors}

<div class="success_block hide" id="progress_regenerate">
  <span class="success_message"></span>
</div>

<!--
<div class="wrapper-form right">

<fieldset>
  <legend>Настройки</legend>
  <div class="row">
    {$models}
    <textarea name="models" style="width: 100%; height: 800px;">{$models}</textarea>
  </div>
</fieldset>

</div>

<div class="wrapper-form">
<form action="{''|set_query_html}" method="post" name="MainForm" id="models-form" target="_self">
  <fieldset>
    <legend>Настройки</legend>


    <div class="row">
      <textarea name="models" style="width: 100%; height: 800px;">{$old_models}</textarea>
    </div>

    <div class="row text-center">
      <input type="hidden" name="action" value="models_action">
      <input type="submit" name="save_action" value="Сохранить"/>
    </div>

  </fieldset>
</form>
</div>-->


<div class="wrapper-form w100 ">
    <fieldset>
      <legend>Настройки</legend>

      <form action="{''|set_query_html}" method="post" name="MainForm" id="additinal-form" target="_self">
        <div class="row">
          <label><input type="checkbox" name="enabled" value="1" {if $enabled}checked="true"{/if} /> Включить?</label>
          <input type="hidden" name="action" value="save_action"/>
          <input type="submit" name="save_action" value="Сохранить" />
        </div>
      </form>

      <div class="row">
        <label><input type="checkbox" name="reItems" id="reItems" value="1" checked="checked" /> Пересоздать итемы.</label>
        <label><input type="checkbox" name="reSubs" id="reSubs" value="1" checked="checked" /> Пересоздать подтовары.</label>
        <label><input type="checkbox" name="reNoIndex" id="reNoIndex" value="1" checked="checked" /> Пересоздать ноиндекс.</label>
      </div>
      <div class="row">
        <fieldset>
          <legend>Выберите категории товаров для (пере)создания подтоваров</legend>

          <div class="row">
            <div id="categories" class="categories-list">
              {$categories}
            </div>
          </div>
        </fieldset>
      </div>

      <div class="row text-center">
        <a class="iframe"></a>
        <input type="submit" name="save_action" value="Сгенерировать" class="regen_subproducts"/>
      </div>

    </fieldset>
</div>


<script language="JavaScript">
  {literal}
  $(document).ready(function() {
    $("#categories").jstree({
      "core" : {
        "animation" : 0,
        "check_callback" : true,
        "themes" : { "stripes" : true }
      },
      "checkbox" : {
        "keep_selected_style" : false
      },
      "plugins" : [ "checkbox", "state", "sort", "contextmenu" ],
      "contextmenu": { items: {
        prefix: {
          label: 'Префикс',
          action: function(obj) {
            var cid = $(obj.reference.context).find('a').parent('li').data('id');
            $('a.iframe').attr('href', '/index.php?ukey=additional_products&action=iFRAMEprefix&cid='+cid).trigger('click');
          }
        },
        sufix: {
          label: 'Суфиксы',
          action: function(obj) {
            var cid = $(obj.reference.context).find('a').parent('li').data('id');
            $('a.iframe').attr('href', '/index.php?ukey=additional_products&action=iFRAMEsufix&cid='+cid).trigger('click');
          }
        },
        sub: {
          label: 'Подтовары',
          action: function(obj) {
            var cid = $(obj.reference.context).find('a').parent('li').data('id');
            $('a.iframe').attr('href', '/index.php?ukey=additional_products&action=iFRAMEsubsList&cid='+cid).trigger('click');
          }
        }
      }}
    });
  })
  {/literal}
</script>