<h1>Экспорт товаров в Яндекс.Маркет</h1>
{if $yandex_errormsg ne NULL}
<div id="error-block" class="error_block">
{$yandex_errormsg}
</div>
{/if}
{if $yandex_export_successful eq 1}
<div id="message-block" class="success_block">Товары успешно экспортированы в XML-файлы для Яндекс.Маркет!</div>
{/if}
{if $yandex_file}
<div style="background-color: #fafae7;padding: 20px;margin: 10px 0;">
Файл для Яндекс.Маркета ({$yandex_file.size} КБ; обновлен {$yandex_file.mtime}):<br>
<ol style="list-style-type:none;padding-left: 10px;">
<li>
Прямой доступ (URL): <b><a target="_blank" href="{$smarty.const.BASE_WA_URL}{if !$smarty.const.MOD_REWRITE_SUPPORT||true}{if !$smarty.const.CONF_ON_WEBASYST}published/{/if}SC/html/scripts/{/if}get_file.php?getFileParam=R2V0WWFuZGV4">{$smarty.const.BASE_WA_URL}{if !$smarty.const.MOD_REWRITE_SUPPORT||true}{if !$smarty.const.CONF_ON_WEBASYST}published/{/if}SC/html/scripts/{/if}get_file.php?getFileParam=R2V0WWFuZGV4</a></b>
</li>
<li>
<a target="_blank" href='{$smarty.const.BASE_WA_URL}{if !$smarty.const.MOD_REWRITE_SUPPORT||true}{if !$smarty.const.CONF_ON_WEBASYST}published/{/if}SC/html/scripts/{/if}get_file.php?getFileParam=R2V0WWFuZGV4&amp;download=1'>Скачать файл</a> 
</li>
</ol>
</div>
{/if}
{if $yandexFull_file}
<div style="background-color: #fafae7;padding: 20px;margin: 10px 0;">
	Файл для Яндекс.Маркета с подтоварами ({$yandexFull_file.size} КБ; обновлен {$yandexFull_file.mtime}):<br>
	<ol style="list-style-type:none;padding-left: 10px;">
		<li>
			Прямой доступ (URL): <b><a target="_blank" href="{$smarty.const.BASE_WA_URL}{if !$smarty.const.MOD_REWRITE_SUPPORT||true}{if !$smarty.const.CONF_ON_WEBASYST}published/{/if}SC/html/scripts/{/if}get_file.php?getFileParam=R2V0WWFuZGV4RnVsbA==">{$smarty.const.BASE_WA_URL}{if !$smarty.const.MOD_REWRITE_SUPPORT||true}{if !$smarty.const.CONF_ON_WEBASYST}published/{/if}SC/html/scripts/{/if}get_file.php?getFileParam=R2V0WWFuZGV4RnVsbA==</a></b>
		</li>
		<li>
			<a target="_blank" href='{$smarty.const.BASE_WA_URL}{if !$smarty.const.MOD_REWRITE_SUPPORT||true}{if !$smarty.const.CONF_ON_WEBASYST}published/{/if}SC/html/scripts/{/if}get_file.php?getFileParam=R2V0WWFuZGV4RnVsbA==&amp;download=1'>Скачать файл</a>
		</li>
	</ol>
</div>
{/if}
{if $yandex_export_successful neq 1}
{if $yandex_file || $yandexFull_file}
<h2>Обновить файлы для Яндекс.Маркет</h2>
{/if}
<form action="" method=post name="form_export">
	<input type="hidden" name="yandex_export" value="" />
	<ol style="1">
	<li>
	<p><b class="header2">Адрес главной страницы интернет-магазина:</b>
	<br/>
	<input name="base_url" type="text" value="{$smarty.const.WIDGET_SHOP_URL}" size="40">
	</li>
	<li>
		<b class="header2">Выберите категории и товары</b>
		{include file="backend/product_tree.tpl.html"}
	</li>
	<li>
		<b class="header2">Выберите параметры</b>

	<p>Цены на товары в магазине, экспортируемые в XML-файл для Яндекс.Маркет, указываются в рублях (RUR).
	<br>
	Пожалуйста, укажите курс рубля в Вашем магазине - введите сколько условных единиц (у.е.) в магазине составляют 1 рубль.
	<br>
	Например, если Вы введете 5, то это будет означать, что 1 рубль = 5 у.е. магазина.
	<br>
	Рекомендуется вводить тот курс, который Вы указали для валюты "Рубли" (если таковая определена) в разделе "Настройки->Валюты".
	</p>

	<p>1 рубль = <input type=text name=yandex_rur_rate value=1> у.е.</p>

	<p>
	Какие описания товаров экспортировать в файл?<br>
	ВАЖНО: Описание не должно содержать HTML-тэгов и по размеру не может быть более 255 символов<br>(если 
описание выходит за пределы допустимого значения,то текст обрезается и в конце проставляется многоточие)<br>
	</p>
	<select name=yandex_export_description>
		<option value=0>Не экспорировать описания</option>
		<option value=1>Полное описание</option>
		<option value=2 selected>Краткое описание</option>
	</select>

	{if $smarty.const.CONF_CHECKSTOCK eq 1}
	<p>
	<input type="checkbox" name="yandex_dont_export_negative_stock" value="1" id="id_yenstock" class="checknomarging" checked="checked" /><label for="id_yenstock">  Не экспортировать товары с нулевым остатком на складе</label><br>
	</p>
	{/if}
	<p>Экспорт названий товаров:
	<br />
	<select name="yandex_export_product_name">
		<option value="only_name">только название товара</option>
		<option value="path_and_name">путь к категории товара + название товара</option>
	</select>
	</p>
	</li>
	</ol>
	<p>
	<input type=button onclick="document.form_export.elements['yandex_export'].value='notFull';document.form_export.submit(); return false;" value="Экспортировать товары в XML-файл">
		<input type=button onclick="document.form_export.elements['yandex_export'].value='full';document.form_export.submit(); return false;" value="Экспортировать товары с подтоварами в XML-файл">
	<input type=hidden name=dpt value=modules>
	<input type=hidden name=sub value=yandex>
	<input type=hidden name=_export value="" />
	</p>
</form>
{/if}