<script type="text/javascript" src="{$smarty.const.URL_JS}/JsHttpRequest.js"></script>

{$MessageBlock}

{$errors}

<div class="wrapper-form">
  
  <form enctype="multipart/form-data" action="{''|set_query_html}" method="post" name="MainForm" id="images-form" target="_self">
    <fieldset>
    <legend>Загрузка изображения</legend>
      
      <div class="row">
        <label for="upload-browse">Выберите изображение:</label>
        <input id="upload-browse" name="upload_image" type="file" />
      </div>
      
      <div class="row text-center">
        <input type="submit" id="btn-save-image" name="save_images" value="Загрузить!" />
      </div>
      
    </fieldset>
    
    <input id="set-default" name="set_default" type="hidden" value="{if $smarty.section.i.total}0{else}1{/if}" />
    <input id="upload-priority" name="upload_image_priority" type="hidden" value="1" />
    <input id="field-skip-image-upload" name="skip_image_upload" type="hidden" value="0" />
        
    <input type="hidden" name="action" value="save_images" />
  </form>
      
  <form action="{''|set_query_html}" method="post" name="MainForm" id="slider-form" target="_self">
    <fieldset>
      <legend>Слайды</legend>

      <div class="row">
        <fieldset>
          <legend>{lbl_prdset_product_pictures}</legend>
          <ul type="none">
            <li style="list-style-type:none">{lbl_str_drag_and_drop_to_change_order}</li>
          </ul>
              
          <table cellpadding="0" cellspacing="0" width="100%" id="product-images-container" class="grid" trheight="{$smarty.const.CONF_PRDPICT_THUMBNAIL_SIZE}">
          <tr class="gridsheader">
            <td>{lbl_prdset_str_images}
            <input name="__action" value="_update_images_priority" type="hidden" />
            </td>
            <td>{lbl_prdset_product_thumbnail}</td>
            <td>{lbl_prdset_product_picture}</td>         
            <td>{lbl_prdset_product_bigpicture}</td>
            <td>Удалить</td>
          </tr>
          
          {if $images}
            {section loop=$images name=i}
            <tbody class="dragable">
            <tr id="image-container-{$images[i].id}" height="{$smarty.const.CONF_PRDPICT_THUMBNAIL_SIZE}" class="{if $smarty.section.i.first}gridline1{else}gridline1{/if}">
              <td class="img_container handle" title="{lbl_str_drag_and_drop_to_change_order}">
                {if $images[i].thumbnail_exists == 1}
                  <img src="{$URL_SLIDERS}/{$images[i].thumbnail|escape:'url'}" />
                {else}
                  <div class="error_block">{lbl_str_picture_not_uploaded}</div>
                {/if}
                </td>
              <td style="padding-left:10px;" class="handle">
              {if $images[i].thumbnail_exists == 1}
                {$images[i].thumbnail_image.file}<br>
                {$images[i].thumbnail_image.width}&times;{$images[i].thumbnail_image.height}&nbsp;px<br>
                {$images[i].thumbnail_image.size}
              {else}
                {$images[i].thumbnail_image.file}<br>
                {lbl_str_image_not_uploaded}
              {/if}
              </td> 
              <td>
              {if $images[i].image_exists == 1} 
                <a href="{$URL_SLIDERS}/{$images[i].large_image.file|escape:'url'}" class="new_window bluehref" wnd_width="{$images[i].large_image.width}" wnd_height="{$images[i].large_image.height}">
                {$images[i].large_image.file}</a>
                {$images[i].large_image.width}&times;{$images[i].large_image.height}&nbsp;px<br>
                {$images[i].large_image.size}
              {else}
                {$images[i].large_image.file}<br>
                {lbl_str_image_not_uploaded}
              {/if}
              </td>         
              <td>
              {if $images[i].enlarged_exists == 1}  
                <a href="{$URL_SLIDERS}/{$images[i].enlarged_image.file|escape:'url'}" class="new_window bluehref" wnd_width="{$images[i].enlarged_image.width}" wnd_height="{$images[i].enlarged_image.height}">
                {$images[i].enlarged_image.file}</a>
                {$images[i].enlarged_image.width}&times;{$images[i].enlarged_image.height}&nbsp;px<br>
                {$images[i].enlarged_image.size}
              {else}
                {$images[i].enlarged_image.file}<br>
                {lbl_str_image_not_uploaded}
              {/if}
              </td>
              <td>
                <input type="checkbox" name="delete_field[]" value="{$images[i].id}" />
                <input type="hidden" class="field_priority" name="priority_{$images[i].id}" value="{$smarty.section.i.index}" />
              </td>
            </tr>
            </tbody>
            {/section}
          {else}
            <tr>
              <td colspan="5" align="center">Пусто</td>
            </tr>
          {/if}
          </table>
        </fieldset>
        {include file="backend/sortable_table.html" table_id="product-images-container" action_name="update_images_priority" action_id="action-name" default_action="save_action"}
      </div>
                    
      <div class="row text-center">
        <input type="submit" id="btn-save-action" name="save_action" value="Сохранить" />
      </div>  
    </fieldset>
    <input type="hidden" name="action" value="save_action" />
          
  </form>

</div>