.cptovst_xtdd1n{background-color: #FFFFFF!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{color: #009900!important;}
.cptovst_xtdd1n *,.cptovst_xtdd1n{text-align: center!important;}


.cptovst_2k5t6d{background-color: #CCFFFF!important;}
.cptovst_2k5t6d *,.cptovst_2k5t6d{text-align: left!important;}


.cptovst_ifgsci *,.cptovst_ifgsci{text-align: left!important;}


.cptovst_i8o246{background-color: #CC9900!important;}
.cptovst_i8o246 *,.cptovst_i8o246{text-align: left!important;}


.cptovst_wpe3jv *,.cptovst_wpe3jv{text-align: left!important;}
.cptovst_wpe3jv * a,.cptovst_wpe3jv a{color: #ffffff!important;}


.cptovst_v5norh *,.cptovst_v5norh{text-align: left!important;}






.cptovst_sejzpb *,.cptovst_sejzpb{text-align: left!important;}


.cptovst_y9qt1v *,.cptovst_y9qt1v{text-align: left!important;}


.cptovst_8vk6df *,.cptovst_8vk6df{text-align: left!important;}


.cptovst_qoecwn *,.cptovst_qoecwn{text-align: left!important;}




.cptovst_zkzqoq{background-color: #d1a8a8!important;}
.cptovst_zkzqoq{border-color: #660f0f!important; border-style:solid;}
.cptovst_zkzqoq{border-width: 1px!important;}
.cptovst_zkzqoq *,.cptovst_zkzqoq{color: #660f0f!important;}
.cptovst_zkzqoq *,.cptovst_zkzqoq{text-align: center!important;}
.cptovst_zkzqoq * a,.cptovst_zkzqoq a{color: #ffffff!important;}


.cptovst_yg6ish *,.cptovst_yg6ish{text-align: left!important;}


.cptovst_w1gx6a *,.cptovst_w1gx6a{text-align: left!important;}




.cptovst_zl8b0s *,.cptovst_zl8b0s{text-align: left!important;}


.cptovst_tne0ey *,.cptovst_tne0ey{text-align: left!important;}


.cptovst_23jhgp *,.cptovst_23jhgp{text-align: left!important;}


.cptovst_vzzihx *,.cptovst_vzzihx{text-align: left!important;}


.cptovst_dtxmdm *,.cptovst_dtxmdm{color: #333!important;}
.cptovst_dtxmdm *,.cptovst_dtxmdm{text-align: left!important;}




.cptovst_r6enwa *,.cptovst_r6enwa{text-align: left!important;}




.cptovst_4nv38n *,.cptovst_4nv38n{text-align: left!important;}


.cptovst_iuxflk *,.cptovst_iuxflk{text-align: left!important;}


.cptovst_2f526w *,.cptovst_2f526w{text-align: left!important;}


.cptovst_vg6a7y *,.cptovst_vg6a7y{text-align: left!important;}


.cptovst_lfbsi4 *,.cptovst_lfbsi4{text-align: left!important;}




.cptovst_pm3bee *,.cptovst_pm3bee{text-align: left!important;}




.cptovst_7dk166 *,.cptovst_7dk166{text-align: left!important;}


.cptovst_qi03mg *,.cptovst_qi03mg{text-align: left!important;}






